<section id="adduser" class="container">
  <div class="form-wrap">
    <a href="../users/" style="color:red;text-align:left !important">&lt;&lt;&lt; Înapoi</a>
    <h1>Salvează utilizator</h1>
    {{#each errors}}
    <div class="error" style="color:red">
      <p>{{text}}</p>
    </div>
    {{/each}}
    <form action="/users/adduser" method='post'>
      <div class="input-group">
        <label for="nume">Nume</label>
        <input type="text" name="nume" id="nume" class="input-box" placeholder="nume"
               maxlength="100" value="{{nume}}"/>
      </div>
      <div class="input-group">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" class="input-box" placeholder="email"
               maxlength="100" value="{{email}}"/>
        <input type="hidden" name="iduser" id="iduser" class="input-box" placeholder="user"
               maxlength="100" value="{{iduser}}"/>
      </div>
      <div class="input-group">
        <label>Rol(uri)</label>
        {{#each rol}}
        <input type="checkbox" id="role{{this}}" name="role{{this}}" {{transformvaluetochecked this}} value="{{this}}" /> {{this}} &nbsp;&nbsp;&nbsp;&nbsp;
        {{/each}}
        {{#each roles}}
        <input type="checkbox" id="role{{this}}" name="role{{this}}" value="{{this}}" /> {{this}} &nbsp;&nbsp;&nbsp;&nbsp;
        {{/each}}
      </div><br/>
      <div class="input-group">
        <label for="parola">Parola</label>
        <input type="password" name="parola" id="parola" class="input-box" placeholder="parola"
               maxlength="100" value="{{parola}}"/>
      </div>
      <div class="input-group">
        <label for="parolaConfirm">Confirmă Parola</label>
        <input type="password" name="parolaConfirm" id="parolaConfirm" class="input-box" placeholder="parolaConfirm"
               maxlength="100" value="{{parolaConfirm}}"/>
      </div>
      <input type="submit" value="Salvează utilizator" class="btn btn-reverse"/>
    </form>
  </div>
</section>