<!--suppress ALL -->
<section id="chart1" class="container" style="width:100% !important">
    <table style="width:100%">
        <tr>
            <td><div>Greutatea actuală:<span class="dottedSpan">{{{pacient.greutateactuala}}}</span></div>
                <div>Greutatea naștere:<span class="dottedSpan">{{{pacient.greutatenastere}}}</span></div>
                <div>Indice ponderal:<span class="dottedSpan">{{{pacient.indiceponderal}}}</span></div>
                <div>Suprafață corporală:<span class="dottedSpan">{{{pacient.suprafatacorporala}}}</span></div></td>
            <td>

            </td>
        </tr>
        <tr><td colspan="2">
            <h1 style="text-align:center">Foaie de temperatură</h1>
            <div style="text-align:center">CNP <span class="dottedSpan">{{{pacient.cnp}}}</span></div>
            <div style="text-align:center">&nbsp;</div>
            <div style="text-align:center">Numele <span class="dottedSpan">{{{pacient.nume}}}</span> &nbsp; &nbsp; &nbsp; Prenumele <span class="dottedSpan">{{{pacient.prenume}}}</span></div>
            <div style="text-align:center">&nbsp;</div>
            <div style="text-align:center">Anul <span class="dottedSpan" id="an">{{{detaliiFoaie.an}}}</span> &nbsp; &nbsp; &nbsp; luna <span class="dottedSpan" id="luna" >{{{detaliiFoaie.luna}}}</span> &nbsp; &nbsp; &nbsp; Nr. foii de observație <span class="dottedSpan">{{{detaliiFoaie.nr}}}</span> &nbsp; &nbsp; &nbsp; Nr. salon <span class="dottedSpan">{{{detaliiFoaie.salon}}}</span> &nbsp; &nbsp; &nbsp; Nr. pat <span class="dottedSpan">{{{detaliiFoaie.pat}}}</span></div>
            <div style="text-align:center">&nbsp;</div>
            <div style="text-align:center">&nbsp;</div>

        </td>
        </tr>
    </table>
    <script type="text/x-handlebars-template" id="tableTemplate">
          <table style="width:100%;text-align:center">
            <tr><td style="width:22%; text-align:left">Ziua</td>
                __#each serialList++
                <td>
                    <div class="rowLichide">__this++</div>
                </td>
                __/each++
            </tr>
              <tr> <td style="width:22%; text-align:left">{{etichete.lichLabel}}</td>
                  __#each lichideV++
                  <td>
                      <input type="text" style="width:50px" class="rowLichide" value="__this++"/>
                  </td>
                  __/each++
              </tr>
              <tr><td style="width:22%; text-align:left">{{etichete.diurezaLabel}}</td>
                  __#each diurezaV++
                  <td>
                      <input type="text" style="width:50px" class="rowDiureza" value="__this++"/>
                  </td>
                  __/each++
              </tr>
              <tr><td style="width:22%; text-align:left">{{etichete.scauneLabel}}</td>
                  __#each scauneV++
                  <td>
                      <input type="text" style="width:50px" class="rowScaune" value="__this++"/>
                  </td>
                  __/each++
              </tr>
              <tr><td style="width:22%; text-align:left">{{etichete.dietaLabel}}</td>
                  __#each dietaV++
                  <td>
                      <input type="text" style="width:50px" class="rowDieta" value="__this++"/>
                  </td>
                  __/each++
              </tr>
        </table>
    </script>
    <canvas id="myChart"></canvas>

    <div id="updatedtable"></div>

    <br/><br/>
    <div id="addDayDiv">
    <table style="width:100%; text-align:center">
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:20px" >
                Adaugă zi nouă (sau modifică zi existentă)
            </td>
        </tr>
        <tr><td>Ziua + timpul (Dimineața/Seara) </td>
             <td style="text-align:left">
                 <select id="selectExistingOrNewDay" onchange="disableElements()" name="selectExistingOrNewDay">
                 </select>
                 </td></tr>
        <tr><td>Ziua de boală</td><td style="text-align:left"><input id="ziuadeboala" type="text" value="" disabled="" /></td></tr>
        <tr><td><span id="respspan"/></td><td style="text-align:left"><input id="resp" type="text" value=""/></td></tr>
        <tr><td><span id="taspan"/></td><td style="text-align:left"><input id="ta" type="text" value=""/></td></tr>
        <tr><td><span id="pulsspan"/></td><td style="text-align:left"><input id="puls" type="text" value=""/></td></tr>
        <tr><td><span id="tempspan"/></td><td style="text-align:left"><input id="temperatura" type="text" value=""/></td></tr>
        <tr><td><span id="lichspan"/></td><td style="text-align:left"><input id="lichideingerate" type="text" value=""/></td></tr>
        <tr><td><span id="diurezaspan"/></td><td style="text-align:left"><input id="diureza" type="text" value=""/></td></tr>
        <tr><td><span id="scaunespan"/></td><td style="text-align:left"><input id="scaune" type="text" value=""/></td></tr>
        <tr><td><span id="dietaspan"/></td><td style="text-align:left"><input id="dieta" type="text" value=""/></td></tr>
        <tr>
            <td colspan="2" >
                <input type="button" value="Adaugă" onclick="add()" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:20px">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:20px" >
                Ștergere zi
            </td>
        </tr>
        <tr><td>Ziua + timpul (Dimineața/Seara) </td><td style="text-align:left"><select id="dayAndTimeErase" name="dayAndTimeErase" style="width:100px" ></select>
            </td></tr>
        <tr>
            <td colspan="2" >
                <input type="button" value="Ștergere" onclick="remove()" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><br/><br/>
            </td>
        </tr>
        <tr>
            <td colspan="2" >
                <input type="button" style="width:150px;height:30px" value="Salvare în bază" onclick="salvareInBaza()" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><br/><br/>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:20px" >
                Audit
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:10px" >
                <div id="audit" ></div>
            </td>
        </tr>
    </table>
    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>

    <script src="/js/handlebars.min.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/general.js"></script>
    <script src="/js/chartjs-plugin-dragdata.min.js"></script>
    <script>
var ziuadeboalaLabel = "{{etichete.ziuadeboalaLabel}}";
var respLabel = "{{etichete.respLabel}}";
var respLongLabel = "{{etichete.respLongLabel}}";
var taLabel = "{{etichete.taLabel}}";
var pulsLabel = "{{etichete.pulsLabel}}";
var tempLabel = "{{etichete.tempLabel}}";
var tempLongLabel = "Temperatura";
var lichLabel = "{{etichete.lichLabel}}";
var diurezaLabel = "{{etichete.diurezaLabel}}";
var scauneLabel = "{{etichete.scauneLabel}}";
var dietaLabel = "{{etichete.dietaLabel}}";

var pointRadiusVar = 5;
var pointHitRadiusVar = 10;
var templateText;
var tableTemplate;

function salvareInBaza(){
    alert("Graficul a fost salvat în baza de date.");
}

document.getElementById("respspan").innerHTML = respLongLabel;
document.getElementById("taspan").innerHTML = taLabel;
document.getElementById("pulsspan").innerHTML = pulsLabel;
document.getElementById("tempspan").innerHTML = tempLongLabel;
document.getElementById("lichspan").innerHTML = lichLabel;
document.getElementById("diurezaspan").innerHTML = diurezaLabel;
document.getElementById("scaunespan").innerHTML = scauneLabel;
document.getElementById("dietaspan").innerHTML = dietaLabel;

document.getElementById("myChart").ondblclick = function(evt) {
   chartClickEvent(evt);
}
function comportamentZiuaDeBoala() {

    if (labelsVarArr.length==0) {
        document.getElementById("ziuadeboala").disabled = false;
        return;
    }
    if (document.getElementById("selectExistingOrNewDay").selectedIndex==0 ) {
            document.getElementById("ziuadeboala").disabled = false;
     }
     else {
        document.getElementById("ziuadeboala").disabled = true;
        if (labelsVarFinal.length!=0) {
            if (document.getElementById("selectExistingOrNewDay").value.includes("S")) {
                document.getElementById("ziuadeboala").value = labelsVarFinal[document.getElementById("selectExistingOrNewDay").selectedIndex-1][1];
            }
            else
            {
                document.getElementById("ziuadeboala").value = parseInt(labelsVarFinal[document.getElementById("selectExistingOrNewDay").selectedIndex-1][1]) + 1;
            }
        }
     }

}
function disableElements() {
     var disable;
     comportamentZiuaDeBoala();
     if (document.getElementById("selectExistingOrNewDay").options[document.getElementById("selectExistingOrNewDay").selectedIndex].value.includes("D")) {
            document.getElementById("dieta").value = "";
            document.getElementById("scaune").value = "";
            document.getElementById("diureza").value = "";
            document.getElementById("lichideingerate").value = "";
            disable = true;
        }
     else
        disable = false;
     document.getElementById("dieta").disabled=disable;
     document.getElementById("scaune").disabled=disable;
     document.getElementById("diureza").disabled=disable;
     document.getElementById("lichideingerate").disabled=disable;
}
function validateNumbers() {
    /*
    if (!checkIfNumber(ziuadeboalaLabel,document.getElementById("ziuadeboala").value,5,40))
        return false;
        */
    if (!checkIfNumber(respLabel,document.getElementById("resp").value,5,40))
        return false;
    if (!checkIfNumber(taLabel,document.getElementById("ta").value,0,35))
        return false;
    if (!checkIfNumber(pulsLabel,document.getElementById("puls").value,40,180))
        return false;
    if (!checkIfNumber(tempLongLabel,document.getElementById("temperatura").value,35,42))
        return false;
    return true;
}



function remove(){
    var uniqDaysTemp = [...new Set(labelsVarArr)];

    var eraseDaysDropDown = document.getElementById("dayAndTimeErase");
    var dayErase = eraseDaysDropDown.value;
    var dayEraseWithoutTime = dayErase.substring(0,dayErase.indexOf(" "));
    var indexDayErase = uniqDaysTemp.indexOf(dayErase);
    if (indexDayErase!=-1) {
        labelsVarFinal.splice(indexDayErase,1);
        labelsVarArr.splice(indexDayErase,1);
        uniqDaysTemp.splice(indexDayErase, 1);
        tempVar.splice(indexDayErase, 1);
        respVar.splice(indexDayErase, 1);
        pulsVar.splice(indexDayErase, 1);
        taVar.splice(indexDayErase, 1);
        var indexElementUniq = uniqDaysV.indexOf(dayEraseWithoutTime);
        if (dayErase.includes(" S")) {
            if (indexElementUniq>=0) {
                uniqDaysV.splice(indexElementUniq,1);
                lichideL.splice(indexElementUniq,1);
                diurezaL.splice(indexElementUniq,1);
                scauneL.splice(indexElementUniq,1);
                dietaL.splice(indexElementUniq,1);
             }
        }
        addToAudit("Elementul " + dayErase + " a fost șters cu succes ");
    }
    else {
        alert("Elementul " + dayErase + " nu este in listă.");
    }
    updateEraseDropDown();

    updateAddDropDown();
    myChart.update();
    resizeChart();
    $("#updatedtable").html(tableTemplate({ serialList: uniqDaysV, lichideV:lichideL, diurezaV:diurezaL, scauneV:scauneL, dietaV:dietaL}));
}
function resizeChart(){
 var numberOfExistingElements = labelsVarFinal.length-1;
 if (numberOfExistingElements<16)
    myChart.resize(800, 600);
 else if (numberOfExistingElements>=16 && numberOfExistingElements<20)
    myChart.resize(1000, 600);
 else if (numberOfExistingElements>=20)
    myChart.resize(1200, 1200);
}
function chartClickEvent(event){
   var numberOfExistingElements = labelsVarFinal.length-1;
   if (numberOfExistingElements<0){
        alert("Adăugați prin intermediul formularului de mai jos primul punct de pe grafic!");
        return;
   }
   var oldDay = labelsVarArr[numberOfExistingElements].split(" ")[0];
   var oldSicknessDay = labelsVarFinal[numberOfExistingElements][1];
   var newSicknessDay;
   var oldTimeOfDay = labelsVarArr[numberOfExistingElements].split(" ")[1];
   var newDay, newTimeOfDay;
   var newElement = newDay + " " + newTimeOfDay;
   if (oldTimeOfDay.includes("D")) {
        newTimeOfDay = "S";
        newDay = oldDay;
        newSicknessDay = oldSicknessDay;
        uniqDaysV.push(newDay);
        lichideL.push("");
        diurezaL.push("");
        scauneL.push("");
        dietaL.push("");
        templateText = $("#tableTemplate").html();
        templateText = $("#tableTemplate").html().replaceAll("_","{").replaceAll("+","}");
        $("#updatedtable").html(tableTemplate({ serialList: uniqDaysV, lichideV:lichideL, diurezaV:diurezaL, scauneV:scauneL, dietaV:dietaL}));
   }
   else {
        newDay = parseInt(oldDay) + 1;
        newSicknessDay = parseInt(oldSicknessDay) + 1;
        newTimeOfDay = "D";
   }
   var newElement = newDay + " " + newTimeOfDay;
   labelsVarFinal.push([newElement,newSicknessDay]);
   labelsVarArr.push(newElement);
   tempVar.push(tempVar[numberOfExistingElements]);
   respVar.push(respVar[numberOfExistingElements]);
   taVar.push(taVar[numberOfExistingElements]);
   pulsVar.push(pulsVar[numberOfExistingElements]);


   tableTemplate = Handlebars.compile(templateText);
   addToAudit("Elementul " + newElement + " a fost adăugat cu succes pe grafic ");
   updateAddDropDown();
   updateEraseDropDown();
   myChart.update();
   resizeChart();
}

function add(){
        if (!validateNumbers())
            return;
        var tt = [document.getElementById("selectExistingOrNewDay").value, document.getElementById("ziuadeboala").value];

        var uniqDaysTemp = [...new Set(labelsVarArr)];
        var ceSaIntamplat = "";
        var indexElement = uniqDaysTemp.indexOf(document.getElementById("selectExistingOrNewDay").value);
        if (indexElement>=0) {
            tempVar[indexElement] = document.getElementById("temperatura").value;
            respVar[indexElement] = document.getElementById("resp").value;
            taVar[indexElement]= document.getElementById("ta").value;
            pulsVar[indexElement]=document.getElementById("puls").value;
            ceSaIntamplat = "modificat";
        }
        else {
            var numberOfExistingElements = labelsVarFinal.length-1;
            if (numberOfExistingElements>=0) {
                var oldDay = labelsVarArr[numberOfExistingElements].split(" ")[0];
                var oldSicknessDay = labelsVarFinal[numberOfExistingElements][1];
                var newSicknessDay;
                var oldTimeOfDay = labelsVarArr[numberOfExistingElements].split(" ")[1];
                if (oldTimeOfDay.includes("D")) {
                    newTimeOfDay = "S";
                    newDay = oldDay;
                    newSicknessDay = oldSicknessDay;
                }
                else {
                    newDay = parseInt(oldDay) + 1;
                    newSicknessDay = parseInt(oldSicknessDay) + 1;
                    newTimeOfDay = "D";
                }
                if (document.getElementById("selectExistingOrNewDay").value!= (newDay + " " + newTimeOfDay)) {
                    alert("Elementul urmator trebuie să fie: " + newDay + " " + newTimeOfDay + ".");
                    return;
                }
            }

            labelsVarFinal.push(tt);
            labelsVarArr.push(document.getElementById("selectExistingOrNewDay").value);
            tempVar.push(document.getElementById("temperatura").value);
            respVar.push(document.getElementById("resp").value);
            taVar.push(document.getElementById("ta").value);
            pulsVar.push(document.getElementById("puls").value);
            templateText = $("#tableTemplate").html();
            templateText = $("#tableTemplate").html().replaceAll("_","{").replaceAll("+","}");
            tableTemplate = Handlebars.compile(templateText);
            ceSaIntamplat = "adăugat";
        }
        var uniqDay = document.getElementById("selectExistingOrNewDay").value.split(" ")[0];
        if (document.getElementById("selectExistingOrNewDay").value.includes("S")) {
            var indexElementUniq = uniqDaysV.indexOf(uniqDay);
            if (indexElementUniq>=0) {
                lichideL[indexElementUniq] = document.getElementById("lichideingerate").value;
                diurezaL[indexElementUniq] = document.getElementById("diureza").value;
                scauneL[indexElementUniq] = document.getElementById("scaune").value;
                dietaL[indexElementUniq] = document.getElementById("dieta").value;
            }
            else {
                uniqDaysV.push(uniqDay);
                if (document.getElementById("lichideingerate").value!==undefined)
                    lichideL.push (document.getElementById("lichideingerate").value);
                if (document.getElementById("diureza").value!==undefined)
                    diurezaL.push (document.getElementById("diureza").value);
                if (document.getElementById("scaune").value!==undefined)
                    scauneL.push (document.getElementById("scaune").value);
                if (document.getElementById("dieta").value!==undefined)
                    dietaL.push (document.getElementById("dieta").value);
            }
        }

        addToAudit("Elementul " + document.getElementById("selectExistingOrNewDay").value + " a fost " + ceSaIntamplat + " cu succes - " + tempLongLabel + " " +
            +document.getElementById("temperatura").value + ", " + respLongLabel + " " + document.getElementById("resp").value + ", " + taLabel + " " + document.getElementById("ta").value + ", " + pulsLabel + " " +
            document.getElementById("puls").value + ", " + lichLabel + " " + document.getElementById("lichideingerate").value + ", " + diurezaLabel+ " " + document.getElementById("diureza").value +
             ", " + scauneLabel + " " + document.getElementById("scaune").value + ", " + dietaLabel + " " + document.getElementById("dieta").value);
        updateEraseDropDown();
        updateAddDropDown();
        myChart.update();
        resizeChart();
        $("#updatedtable").html(tableTemplate({ serialList: uniqDaysV, lichideV:lichideL, diurezaV:diurezaL, scauneV:scauneL, dietaV:dietaL}));

    }
function updateAddDropDown(){
        var addDaysDropDown = document.getElementById("selectExistingOrNewDay");
        $("#selectExistingOrNewDay").empty();
        if (labelsVarArr.length>0 && labelsVarArr[0]!="") {
            for (var ind = 0; labelsVarArr.length > ind ; ind++) {
                var option = document.createElement("option");
                option.text = labelsVarArr[ind];
                addDaysDropDown.add(option);
            }
        }
        else {
               var monthVar = parseInt(document.getElementById("luna").innerHTML);
               var anVar = parseInt(document.getElementById("an").innerHTML);

               var limit = 31;
               if (monthVar==2 && (anVar % 4 == 0))
                    limit = 29;
               else if (monthVar==2 && (anVar % 4 != 0))
                     limit = 28;
               else if (monthVar==4 || monthVar==6 || monthVar==9 || monthVar==11)
                    limit = 30;
               for (var ind = 1; ind<=limit ; ind++) {
                    var option = document.createElement("option");
                    option.text = parseInt(ind) + " D";
                    addDaysDropDown.add(option);
                    var option = document.createElement("option");
                    option.text = parseInt(ind) + " S";
                    addDaysDropDown.add(option);
            }
        }
        var lastInList = labelsVarArr[labelsVarArr.length-1];
        if (typeof lastInList !== 'undefined') {
            var lastDay = lastInList.split(" ")[0];
            var lastTimeOfDay = lastInList.split(" ")[1];
            var option = document.createElement("option");
            if (typeof lastTimeOfDay!== 'undefined') {
                if (lastTimeOfDay.includes("D")) {
                    option.text = (parseInt(lastDay)) + " S";
                }
                else{
                    option.text =(parseInt(lastDay) + 1) + " D";
                }
            }
            else {
                option.text =(parseInt(lastDay) + 1) + " D";
            }
            addDaysDropDown.add(option);
        }
}
function updateEraseDropDown(){
        var eraseDaysDropDown = document.getElementById("dayAndTimeErase");
        $("#dayAndTimeErase").empty();
        for (var ind = 0; labelsVarArr.length > ind ; ind++) {
            var option = document.createElement("option");
            option.text = labelsVarArr[ind];
            eraseDaysDropDown.add(option);
        }
}
var ctx = document.getElementById('myChart').getContext('2d');
const labelsVar = "{{foaieTemperatura.labels}}";
const labels2Var = "{{foaieTemperatura.labels2}}";
var labelsVarArr = labelsVar.split(",");
var labels2VarArr = labels2Var.split(",");

if (labelsVarArr[0]=="") labelsVarArr = [];
if (labels2VarArr[0]=="") labels2VarArr = [];

var labelsVarFinal = [];
var i = 0;
labelsVarArr.forEach(element => {
                labelsVarFinal.push([element, labels2VarArr[i]])
                i = i+1;
});
templateText = $("#tableTemplate").html().replaceAll("_","{").replaceAll("+","}");
tableTemplate = Handlebars.compile(templateText);


var lichideL = "{{foaieTemperatura.lichide}}".split(",");
if (lichideL[0]=="") lichideL = [];
var uniqDaysV = "{{foaieTemperatura.uniqDays}}".split(",");
if (uniqDaysV[0]=="") uniqDaysV = [];
updateAddDropDown();
updateEraseDropDown();
comportamentZiuaDeBoala();
var diurezaL = "{{foaieTemperatura.diureza}}".split(",");
if (diurezaL[0]=="") diurezaL = [];
var scauneL = "{{foaieTemperatura.scaune}}".split(",");
if (scauneL[0]=="") scauneL = [];
var dietaL = "{{foaieTemperatura.dieta}}".split(",");
if (dietaL[0]=="") dietaL = [];
$("#updatedtable").html(tableTemplate({ serialList: uniqDaysV, lichideV:lichideL, diurezaV:diurezaL, scauneV:scauneL, dietaV:dietaL}));

var tempVar = [{{foaieTemperatura.temp}}];
if (tempVar[0]=="") tempVar = [];
var taVar = [{{foaieTemperatura.ta}}];
if (taVar[0]=="") taVar = [];
var pulsVar = [{{foaieTemperatura.puls}}];
if (pulsVar[0]=="") pulsVar = [];
var respVar = [{{foaieTemperatura.resp}}];
if (respVar[0]=="") respVar = [];

var lastDay = labelsVarArr[labelsVarArr.length-1];
const data = {
  labels: labelsVarFinal,
  datasets: [
    {
      label: respLongLabel,
      data: respVar,
      borderColor: ['rgba(255, 99, 71, 1)'],
      backgroundColor: ['rgba(255, 99, 71, 1)'],
      yAxisID: 'y',
      pointRadius: pointRadiusVar,
      pointHitRadius: pointHitRadiusVar
    },
    {
      label: taLabel,
      data: taVar,
      borderColor: ['rgba(36, 37, 42, 1)'],
      backgroundColor: ['rgba(36, 37, 42, 1)'],
      yAxisID: 'y1',
      pointRadius: pointRadiusVar,
      pointHitRadius: pointHitRadiusVar
    },
    {
      label: pulsLabel,
      data: pulsVar,
      borderColor: ['rgba(15, 10, 222,1)'],
      backgroundColor: ['rgba(15, 10, 222,1)'],
      yAxisID: 'y2',
      pointRadius: pointRadiusVar,
      pointHitRadius: pointHitRadiusVar
    },
    {
      label: tempLongLabel,
      data: tempVar,
      borderColor: ['rgba(60, 179, 113,1)'],
      backgroundColor: ['rgba(60, 179, 113,1)'],
      yAxisID: 'y3',
      pointRadius: pointRadiusVar,
      pointHitRadius: pointHitRadiusVar
    }
  ]
};

function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    chart.update();
}

function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

var myChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        legend:{
           "display": true
             },
        tooltips: {
            "enabled": true
            },
         plugins: {
            dragData: {
            round: 1,
            showTooltip: true,
            onDragStart: function(e, datasetIndex, index, value) {

            },
            onDrag: function(e, datasetIndex, index, value) {
              e.target.style.cursor = 'grabbing'

            },
            onDragEnd: function(e, datasetIndex, index, value) {
              e.target.style.cursor = 'default'
              var elementModificat = "";
              switch(datasetIndex) {
                    case 0:
                        respVar[index] = value;
                        elementModificat = respLongLabel;
                        break;
                    case 1:
                        taVar[index] = value;
                        elementModificat = taLabel;
                        break;
                    case 2:
                        pulsVar[index] = value;
                        elementModificat = pulsLabel;
                        break;
                    case 3:
                        tempVar[index] = value;
                        elementModificat = tempLongLabel;
                        break;
                    default:
                        // code block
                }
                addToAudit("Elementul " + labelsVarArr[index] + " a fost modificat cu succes, " + elementModificat + ": " + value + " ");
            },
          },
            tooltip: {
                callbacks: {
                    title: function(context) {
                        let titleFormat =  context[0].label;
                        titleFormat = "Ziua " + titleFormat;
                        titleFormat = titleFormat.replace("D,","dimineata, ziua de boala ");
                        titleFormat = titleFormat.replace("S,","seara, ziua de boala ");
                        return titleFormat;
                    },
                    label: function(context) {
                        let label = context.dataset.label || '';
                        label = " "  + label;
                        if (label) {
                            label += ': ';
                        }

                        if (context.parsed.y !== null) {
                            label += context.parsed.y;
                            if (label.includes(tempLabel)) label += "°";
                        }
                        return label;
                    }
                }
            }
        },
        scales: {
            x: {
             title: {
             align: 'center',
             display: true,
             text: ['Ziua', '(Zile de boală)'],
             font: {
               family: 'Arial',
                size: 18,
                weight: 'bold',
                lineHeight: 1.2,
                 },
             }
            },
            y3: {
                beginAtZero: false,
                min: 35,
                max: 42,
                display: true,
                title: {
                    align: 'end',
                    display: true,
                    text: tempLabel,
                    padding: {top: 0, left: 0, right: 0, bottom: 0}
                },
                ticks: {
                    // Include a tempr sign in the ticks
                    callback: function(value, index, ticks) {
                        return value + "°";
                    }
                }
            },
           y2: {
                beginAtZero: false,
                min: 40,
                max: 180,
                display: true,
                title: {
                    align: 'end',
                    display: true,
                    text: pulsLabel,
                    padding: {top: 0, left: 0, right: 0, bottom: 0}
               }
            },
            y1: {
                beginAtZero: false,
                min: 0,
                max: 35,
                display: true,
                title: {
                    align: 'end',
                    display: true,
                    text: taLabel,
                    padding: {top: 0, left: 0, right: 0, bottom: 0}
               }
            },
            y: {
                beginAtZero: false,
                min: 5,
                max: 40,
                display: true,
                title: {
                    align: 'end',
                    display: true,
                    text: respLabel,
                    padding: {top: 0, left: 0, right: 0, bottom: 0}
               }
            }
        }
    }
});
disableElements();
resizeChart();
</script>

</section>