<!--suppress ALL -->
<section id="chart1" class="container" style="width:100% !important">
    <table style="width:100%">
        <tr>
            <td><div>Greutatea actuala:{{{greutateactuala}}}</div>
                <div>Greutatea nastere:{{{greutatenastere}}}</div>
                <div>Indice ponderal:{{{indiceponderal}}}</div>
                <div>Suprafata corporala:{{{suprafatacorporala}}}</div></td>
            <td>

            </td>
        </tr>
        <tr><td colspan="2">
            <h1 style="text-align:center">Foaie de temperatura</h1>
            <div style="text-align:center">CNP {{{spcnp}}}</div>
            <div style="text-align:center">&nbsp;</div>
            <div style="text-align:center">Numele {{{nume}}} &nbsp; &nbsp; &nbsp; Prenumele {{{prenume}}}</div>
            <div style="text-align:center">&nbsp;</div>
            <div style="text-align:center">Anul {{{an}}} &nbsp; &nbsp; &nbsp; luna {{{luna}}} &nbsp; &nbsp; &nbsp; Nr. foii de observatie {{{nr}}} &nbsp; &nbsp; &nbsp; Nr. salon {{{salon}}} &nbsp; &nbsp; &nbsp; Nr. pat {{{pat}}}</div>
            <div style="text-align:center">&nbsp;</div>
            <div style="text-align:center">&nbsp;</div>

        </td>
        </tr>
    </table>
    <script type="text/x-handlebars-template" id="tableTemplate">
          <table style="width:100%;text-align:center">
            <tr><td style="width:22%; text-align:left">Ziua</td>
                __#each serialList++
                <td>
                    <div class="rowLichide">__this++</div>
                </td>
                __/each++
            </tr>
              <tr> <td style="width:22%; text-align:left">Lichide ingerate</td>
                  __#each lichideV++
                  <td>
                      <div class="rowLichide">__this++</div>
                  </td>
                  __/each++
              </tr>
              <tr><td style="width:22%; text-align:left">Diureza</td>
                  __#each diurezaV++
                  <td>
                      <div class="rowDiureza">__this++</div>
                  </td>
                  __/each++
              </tr>
              <tr><td style="width:22%; text-align:left">Scaune</td>
                  __#each scauneV++
                  <td>
                      <div class="rowScaune">__this++</div>
                  </td>
                  __/each++
              </tr>
              <tr><td style="width:22%; text-align:left">Dieta</td>
                  __#each dietaV++
                  <td>
                      <div class="rowDieta">__this++</div>
                  </td>
                  __/each++
              </tr>
        </table>
    </script>
    <canvas id="myChart" width="1200" height="1200"></canvas>

    <div id="updatedtable"></div>

    <br/><br/>
    <div id="addDayDiv">
    <table style="width:100%; text-align:center">
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:20px" >
                Adauga zi noua (sau modifica zi existenta)
            </td>
        </tr>
        <tr><td>Ziua + timpul (D/S) </td><td style="text-align:left"><input id="ziua" type="text" value="" style="width:30px"/>
                                            <select id="timeofday" name="timeofday">
                                                <option value="D">D</option>
                                                <option value="S">S</option>
                                            </select></td></tr>
        <tr><td>Ziua de boala</td><td style="text-align:left"><input id="ziuadeboala" type="text" value="" /></td></tr>
        <tr><td>Resp.</td><td style="text-align:left"><input id="resp" type="text" value=""/></td></tr>
        <tr><td>T.A.</td><td style="text-align:left"><input id="ta" type="text" value=""/></td></tr>
        <tr><td>Puls</td><td style="text-align:left"><input id="puls" type="text" value=""/></td></tr>
        <tr><td>Temperatura</td><td style="text-align:left"><input id="temperatura" type="text" value=""/></td></tr>
        <tr><td>Lichide ingerate</td><td style="text-align:left"><input id="lichideingerate" type="text" value=""/></td></tr>
        <tr><td>Diureza</td><td style="text-align:left"><input id="diureza" type="text" value=""/></td></tr>
        <tr><td>Scaune</td><td style="text-align:left"><input id="scaune" type="text" value=""/></td></tr>
        <tr><td>Dieta</td><td style="text-align:left"><input id="dieta" type="text" value=""/></td></tr>
        <tr>
            <td colspan="2" >
                <input type="button" value="Adauga" onclick="add()" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:20px">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:20px" >
                Stergere zi
            </td>
        </tr>
        <tr><td>Ziua + timpul (D/S) </td><td style="text-align:left"><select id="dayAndTimeErase" name="dayAndTimeErase" style="width:100px" ></select>
            </td></tr>
        <tr>
            <td colspan="2" >
                <input type="button" value="Stergere" onclick="remove()" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><br/><br/>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:20px" >
                Audit
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold;font-size:10px" >
                <div id="audit" ></div>
            </td>
        </tr>
    </table>
    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/utils.js"></script>

    <script src="/js/chartjs-plugin-dragdata.min.js"></script>
    <script>
var templateText;
var tableTemplate;
function formatNumber(numberVar){
    if (10>numberVar) return "0" + numberVar;
    return "" + numberVar;
}
function formatDate(dateVar){
    return formatNumber(dateVar.getHours()) + ":" + formatNumber(dateVar.getMinutes()) + ":" + formatNumber(dateVar.getSeconds()) + ", " + formatNumber(dateVar.getDate()) +
     "." + formatNumber(dateVar.getMonth()+1) + "." +  dateVar.getFullYear();
}
function addToAudit(stringVar){
    var current = new Date();
    $("#audit").html($("#audit").html() + "<br/>" + stringVar + "( ora " + formatDate(current) + ")");
}
function remove(){
    var uniqDaysTemp = [...new Set(labelsVarArr)];

    var eraseDaysDropDown = document.getElementById("dayAndTimeErase");
    var dayErase = eraseDaysDropDown.value;
    var dayEraseWithoutTime = dayErase.substring(0,dayErase.indexOf(" "));
    var indexDayErase = uniqDaysTemp.indexOf(dayErase);
    if (indexDayErase!=-1) {
        labelsVarFinal.splice(indexDayErase,1);
        labelsVarArr.splice(indexDayErase,1);
        uniqDaysTemp.splice(indexDayErase, 1);
        tempVar.splice(indexDayErase, 1);
        respVar.splice(indexDayErase, 1);
        pulsVar.splice(indexDayErase, 1);
        taVar.splice(indexDayErase, 1);
        var indexElementUniq = uniqDaysV.indexOf(dayEraseWithoutTime);
        if (dayErase.includes(" S")) {
            if (indexElementUniq>=0) {
                uniqDaysV.splice(indexElementUniq,1);
                lichideL.splice(indexElementUniq,1);
                diurezaL.splice(indexElementUniq,1);
                scauneL.splice(indexElementUniq,1);
                dietaL.splice(indexElementUniq,1);
             }
        }
        addToAudit("Elementul " + dayErase + " a fost sters cu succes ");
    }
    else {
        alert("Elementul nu este in lista");
    }
    updateEraseDropDown();

    myChart.update();
    $("#updatedtable").html(tableTemplate({ serialList: uniqDaysV, lichideV:lichideL, diurezaV:diurezaL, scauneV:scauneL, dietaV:dietaL}));
}
function add(){
        var tt = [document.getElementById("ziua").value + " " + document.getElementById("timeofday").value, document.getElementById("ziuadeboala").value];

        var uniqDaysTemp = [...new Set(labelsVarArr)];
        var indexElement = uniqDaysTemp.indexOf(document.getElementById("ziua").value + " " + document.getElementById("timeofday").value);
        if (indexElement>=0) {
            tempVar[indexElement] = document.getElementById("temperatura").value;
            respVar[indexElement] = document.getElementById("resp").value;
            taVar[indexElement]= document.getElementById("ta").value;
            pulsVar[indexElement]=document.getElementById("puls").value;
            addToAudit("Elementul " + document.getElementById("ziua").value + " " + document.getElementById("timeofday").value + " a fost modificat cu succes ");
        }
        else {
            labelsVarFinal.push(tt);
            labelsVarArr.push(document.getElementById("ziua").value + " " + document.getElementById("timeofday").value);
            tempVar.push(document.getElementById("temperatura").value);
            respVar.push(document.getElementById("resp").value);
            taVar.push(document.getElementById("ta").value);
            pulsVar.push(document.getElementById("puls").value);
            templateText = $("#tableTemplate").html();
            templateText = $("#tableTemplate").html().replaceAll("_","{").replaceAll("+","}");
            tableTemplate = Handlebars.compile(templateText);
            addToAudit("Elementul " + document.getElementById("ziua").value + " " + document.getElementById("timeofday").value + " a fost adaugat cu succes ");
        }
        var uniqDay = document.getElementById("ziua").value;
        var indexElementUniq = uniqDaysV.indexOf(uniqDay);
        if (indexElementUniq>=0) {
            lichideL[indexElementUniq] = document.getElementById("lichideingerate").value;
            diurezaL[indexElementUniq] = document.getElementById("diureza").value;
            scauneL[indexElementUniq] = document.getElementById("scaune").value;
            dietaL[indexElementUniq] = document.getElementById("dieta").value;
        }
        else {
            uniqDaysV.push(uniqDay);
            if (document.getElementById("lichideingerate").value!==undefined)
                lichideL.push (document.getElementById("lichideingerate").value);
            if (document.getElementById("diureza").value!==undefined)
                diurezaL.push (document.getElementById("diureza").value);
            if (document.getElementById("scaune").value!==undefined)
                scauneL.push (document.getElementById("scaune").value);
            if (document.getElementById("dieta").value!==undefined)
                dietaL.push (document.getElementById("dieta").value);
        }

        updateEraseDropDown();
        myChart.update();

        $("#updatedtable").html(tableTemplate({ serialList: uniqDaysV, lichideV:lichideL, diurezaV:diurezaL, scauneV:scauneL, dietaV:dietaL}));

    }
function updateEraseDropDown(){
        var eraseDaysDropDown = document.getElementById("dayAndTimeErase");
        $("#dayAndTimeErase").empty();
        for (var ind = 0; labelsVarArr.length > ind ; ind++) {
            var option = document.createElement("option");
            option.text = labelsVarArr[ind];
            eraseDaysDropDown.add(option);
        }
}
var ctx = document.getElementById('myChart').getContext('2d');
const labelsVar = "{{labels}}";
const labels2Var = "{{labels2}}";
var labelsVarArr = labelsVar.split(",");
var labels2VarArr = labels2Var.split(",");
var labelsVarFinal = [];
var i = 0;
labelsVarArr.forEach(element => {
                labelsVarFinal.push([element, labels2VarArr[i]])
                i = i+1;
});
templateText = $("#tableTemplate").html().replaceAll("_","{").replaceAll("+","}");
tableTemplate = Handlebars.compile(templateText);


var lichideL = "{{lichide}}".split(",");
var uniqDaysV = "{{uniqDays}}".split(",");

updateEraseDropDown();

var diurezaL = "{{diureza}}".split(",");
var scauneL = "{{scaune}}".split(",");
var dietaL = "{{dieta}}".split(",");

$("#updatedtable").html(tableTemplate({ serialList: uniqDaysV, lichideV:lichideL, diurezaV:diurezaL, scauneV:scauneL, dietaV:dietaL}));

var tempVar = [{{temp}}];
var taVar = [{{ta}}];
var pulsVar = [{{puls}}];
var respVar = [{{resp}}];

var lastDay = labelsVarArr[labelsVarArr.length-1];
const data = {
  labels: labelsVarFinal,
  datasets: [
    {
      label: 'Resp.',
      data: respVar,
      borderColor: ['rgba(255, 99, 71, 1)'],
      backgroundColor: ['rgba(255, 99, 71, 1)'],
      yAxisID: 'y',
    },
    {
      label: 'T.A.',
      data: taVar,
      borderColor: ['rgba(36, 37, 42, 1)'],
      backgroundColor: ['rgba(36, 37, 42, 1)'],
      yAxisID: 'y1',
    },
    {
      label: 'Puls',
      data: pulsVar,
      borderColor: ['rgba(15, 10, 222,1)'],
      backgroundColor: ['rgba(15, 10, 222,1)'],
      yAxisID: 'y2',
    },
    {
      label: 'Temperatura',
      data: tempVar,
      borderColor: ['rgba(60, 179, 113,1)'],
      backgroundColor: ['rgba(60, 179, 113,1)'],
      yAxisID: 'y3',
    }
  ]
};

function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    chart.update();
}

function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

var myChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        legend:{
           "display": true
             },
        tooltips: {
            "enabled": true
            },
         plugins: {
            dragData: {
            round: 1,
            showTooltip: true,
            onDragStart: function(e, datasetIndex, index, value) {
              // console.log(e)
            },
            onDrag: function(e, datasetIndex, index, value) {
              e.target.style.cursor = 'grabbing'
              // console.log(e, datasetIndex, index, value)
            },
            onDragEnd: function(e, datasetIndex, index, value) {
              e.target.style.cursor = 'default'
              // console.log(datasetIndex, index, value)
            },
          },
            tooltip: {
                callbacks: {
                    title: function(context) {
                        let titleFormat =  context[0].label;
                        titleFormat = "Ziua " + titleFormat;
                        titleFormat = titleFormat.replace("D,","dimineata, ziua de boala ");
                        titleFormat = titleFormat.replace("S,","seara, ziua de boala ");
                        return titleFormat;
                    },
                    label: function(context) {
                        let label = context.dataset.label || '';
                        label = " "  + label;
                        if (label) {
                            label += ': ';
                        }

                        if (context.parsed.y !== null) {
                            label += context.parsed.y;
                            if (label.includes("Temperatura")) label += "°";
                        }
                        return label;
                    }
                }
            }
        },
        scales: {
            x: {
             title: {
             align: 'center',
             display: true,
             text: ['Ziua', '(Zile de boala)'],
             font: {
               family: 'Arial',
                size: 18,
                weight: 'bold',
                lineHeight: 1.2,
                 },
             }
            },
            y3: {
                beginAtZero: false,
                min: 35,
                max: 42,
                display: true,
                title: {
                    align: 'end',
                    display: true,
                    text: 'Temp.',
                    padding: {top: 0, left: 0, right: 0, bottom: 0}
                },
                ticks: {
                    // Include a tempr sign in the ticks
                    callback: function(value, index, ticks) {
                        return value + "°";
                    }
                }
            },
           y2: {
                beginAtZero: false,
                min: 40,
                max: 180,
                display: true,
                title: {
                    align: 'end',
                    display: true,
                    text: 'Puls',
                    padding: {top: 0, left: 0, right: 0, bottom: 0}
               }
            },
            y1: {
                beginAtZero: false,
                min: 0,
                max: 35,
                display: true,
                title: {
                    align: 'end',
                    display: true,
                    text: 'T.A.',
                    padding: {top: 0, left: 0, right: 0, bottom: 0}
               }
            },
            y: {
                beginAtZero: false,
                min: 5,
                max: 40,
                display: true,
                title: {
                    align: 'end',
                    display: true,
                    text: 'Resp.',
                    padding: {top: 0, left: 0, right: 0, bottom: 0}
               }
            }
        }
    }
});

</script>

</section>