<!--suppress ALL -->
<section id="foaie" class="container" style="width:100% !important">
    <table width="100%"><tr><td><a href="/foaie_observatie/allFiles" style="color:red;text-align:left !important">&lt;&lt;&lt; View foi de observație</a><br/>
        <a href="/pacients" style="color:red;text-align:left !important">&lt;&lt;&lt; View pacienți</a>
    </td><td style="text-align:right !important;font-weight:bold"> <span > <a id="editButton" href="javascript:void(0)" onclick="edit()" style="color:red;">EDITARE</a>
    <a id="cancelButton" href="javascript:void(0)" onclick="cancel()" style="color:red;">Anulare editare</a></span></td></tr></table>
    <h1>Foaie de observație clinică generală <span id="idfoaie" name="idfoaie">{{foaie.detaliipacient.idfoaie}}</span>
    </h1>
    {{#each errors}}
    <div class="error" style="color:red">
        <p>{{text}}</p>
    </div>
    {{/each}}

    <form method="post" name="formd" enctype='multipart/form-data'>
        <div id="detPacient" >
            <h3>Datele pacientului</h3>
            <div style="overflow-x:auto;width:100%">
            <table class="table table-user-information">
                <tr>
                    <td style="font-weight:bold">Nume: </td>
                    <td id="numepacient"><a style="color:red" href="/pacients/addpacient?id={{foaie.detaliipacient.id}}">{{foaie.detaliipacient.nume}}</a></td>
                    <td style="font-weight:bold">Secția: <span class="requiredclass" style="color:red">*</span></td>
                    <td>
                        <select disabled style="width:400px !important" name="sectia" id="sectia" onchange="changeSalon()">
                            <option value="{{foaie.sectia}}" hidden="hidden" selected="selected">{{foaie.sectia}}</option>
                            {{#each foaie.sectii}}
                            <option value="{{this.nume}}">{{this.nume}}</option>
                            {{/each}}
                        </select>
                       </td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Vârsta: </td>
                    <td id="varstapacient"> {{foaie.detaliipacient.varsta}}</td>
                    <td style="font-weight:bold">Salon: </td>
                    <td>
                        <select disabled style="width:20% !important"  name="salon" id="salon" >
                            <option value="{{foaie.salon}}" hidden="hidden" selected="selected">{{foaie.salon}}</option>
                        </select>
                        <input disabled type="hidden" id="structura" name="structura" style="width:400px; background: white; color: red;"
                               value="{{foaie.sectiiVar}}" /></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Sex: </td>
                    <td>{{foaie.detaliipacient.sex}}</td>
                    <td style="font-weight:bold">Pat: </td>
                    <td><input disabled type="text" id="pat" name="pat" style="width:400px; background: white; color: red;"
                               value="{{foaie.pat}}" /></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">CNP: </td>
                    <td>{{foaie.detaliipacient.cnp}}</td>
                    <td style="font-weight:bold">Data internării: </td>
                    <td>Zi:&nbsp;<select disabled style="width:20% !important"  name="zi" id="zi" >
                        <option value="{{foaie.zi}}" hidden="hidden" selected="selected">{{foaie.zi}}</option>
                    </select> Lună:&nbsp; <select disabled style="width:20% !important" onchange="changeDays('zi','luna','an')" name="luna" id="luna" >
                        <option value="{{foaie.luna}}" hidden="hidden" selected="selected">{{foaie.luna}}</option>
                        <option value="Ianuarie">Ianuarie</option>
                        <option value="Februarie">Februarie</option>
                        <option value="Martie">Martie</option>
                        <option value="Aprilie">Aprilie</option>
                        <option value="Mai">Mai</option>
                        <option value="Iunie">Iunie</option>
                        <option value="Iulie">Iulie</option>
                        <option value="August">August</option>
                        <option value="Septembrie">Septembrie</option>
                        <option value="Octombrie">Octombrie</option>
                        <option value="Noiembrie">Noiembrie</option>
                        <option value="Decembrie">Decembrie</option>
                    </select>&nbsp;An:&nbsp;<input type="text" disabled id="an" name="an" style="width:100px; background: white; color: red;" value="{{foaie.an}}" /></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Cod: </td>
                    <td>{{foaie.detaliipacient.cod}}</td>
                    <td style="font-weight:bold">Status: </td>
                    <td>
                        <select disabled style="width:50% !important; width:450px" name="status" id="status" >
                            <option value="{{foaie.status}}" hidden="hidden" selected="selected">{{foaie.status}}</option>
                            <option value="Internat">Internat</option>
                            <option value="In urmarire">In urmarire</option>
                            <option value="Externat">Externat</option>
                            <option value="Decedat">Decedat</option>
                        </select>

                    </td>
                                    </tr>

                <tr>
                    <td style="font-weight:bold;width:80px !important">Medic: <span class="requiredclass" style="color:red">*</span></td>
                    <td> <select disabled  style="width:350px !important" name="medic" id="medic">
                        <option value="{{foaie.medic}}" hidden="hidden" selected="selected">{{foaie.medic}}</option>
                        {{#each foaie.medici}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    </td>
                    <td style="font-weight:bold;width:180px !important">Data externării: </td>
                    <td>Zi:&nbsp;<select disabled style="width:20% !important"  name="ziext" id="ziext" >
                        <option value="{{foaie.ziext}}" hidden="hidden" selected="selected">{{foaie.ziext}}</option></select>
                        &nbsp;Lună:&nbsp;<select disabled style="width:20% !important" onchange="changeDays('ziext','lunaext','anext')" name="lunaext" id="lunaext" >
                            <option value="{{foaie.lunaext}}" hidden="hidden" selected="selected">{{foaie.lunaext}}</option>
                            <option value="Ianuarie">Ianuarie</option>
                            <option value="Februarie">Februarie</option>
                            <option value="Martie">Martie</option>
                            <option value="Aprilie">Aprilie</option>
                            <option value="Mai">Mai</option>
                            <option value="Iunie">Iunie</option>
                            <option value="Iulie">Iulie</option>
                            <option value="August">August</option>
                            <option value="Septembrie">Septembrie</option>
                            <option value="Octombrie">Octombrie</option>
                            <option value="Noiembrie">Noiembrie</option>
                            <option value="Decembrie">Decembrie</option>
                        </select>

                        An:&nbsp;<input type="text" disabled id="anext" name="anext" style="width:100px; background: white; color: red;" value="{{foaie.anext}}" /></td>
                </tr>
            </table>
            </div>
        </div>
        <br />

        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" id="buttontab1" onclick="openTab(event, 'evolutie')">1. Evoluții</button>
            <button class="tablinks" id="buttontab2" onclick="openTab(event, 'diagnostic')">2. Diagnostic</button>
            <button class="tablinks" id="buttontab3" onclick="openTab(event, 'anamneza')">3. Anamneza</button>
            <button class="tablinks" id="buttontab4" onclick="openTab(event, 'tratament')">4. Tratament</button>
            <button class="tablinks" id="buttontab5" onclick="openTab(event, 'epetapa')">5. Epicriza de etapă</button>
            <button class="tablinks" id="buttontab6" onclick="openTab(event, 'epfinala')">6. Epicriza finală</button>
            <button class="tablinks" id="buttontab7" onclick="openTab(event, 'recom')">7. Recomandări</button>
            <button class="tablinks" id="buttontab8" onclick="openTab(event, 'urm')">8. Urmărire</button>
        </div>
        <div id="evolutie" class="tabcontent">
            <h3>Evoluții</h3>
            <input disabled type="button" id="adaugareevolutie" onclick="adaugareEvolutie()"
                   value="Adaugă evoluție" class="editread"/>&nbsp;&nbsp;<input disabled type="button" id="stergeEvolutie"
                                                                onclick="stergereevolutie()" value="Șterge ultima evoluție" class="editread"/><br/><br/>
            <div id="updatedtableEvolutie"></div>
        </div>
        <div id="diagnostic" class="tabcontent">
            <h3>Diagnostic</h3>
            <table width="100%">
                <tr>
                    <td style="width:20%">
                        Principal <span class="requiredclass" style="color:red">*</span>
                    </td>
                    <td>
                        <input type="text" disabled id="diagprincipal" name="diagprincipal" style="width:100%"
                               value="{{foaie.diagnosticprincipal}}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        La internare
                    </td>
                    <td>
                        <input type="text" disabled id="diaginternare" name="diaginternare" style="width:100%"
                               value="{{foaie.diagnosticlainternare}}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        La 24 h
                    </td>
                    <td>
                        <input disabled type="text" id="diag24h" name="diag24h" style="width:100%" value="{{foaie.diag24h}}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        La 72 h
                    </td>
                    <td>
                        <input disabled type="text" id="diag72h" name="diag72h" style="width:100%" value="{{foaie.diag72h}}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Intoxicații asociate
                    </td>
                    <td>
                        <input disabled type="text" id="intoxicatii" name="intoxicatii" style="width:100%"
                               value="{{foaie.intoxicatii}}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Alergii
                    </td>
                    <td>
                        <input disabled type="text" id="alergii" name="alergii" style="width:100%" value="{{foaie.alergii}}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Indice ponderal
                    </td>
                    <td>
                        <input disabled type="text" id="indiceponderal" name="indiceponderal" style="width:100%"
                               value="{{foaie.indiceponderal}}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Greutate actuală (kg)
                    </td>
                    <td>
                        <input disabled type="text" id="greutateactuala" name="greutateactuala" style="width:100%"
                               value="{{foaie.greutateactuala}}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Grupa de sânge
                    </td>
                    <td>
                        <select disabled id="sange" name="sange">
                            <option value="{{foaie.sange}}" hidden="hidden" selected="selected">{{foaie.sange}}</option>
                            <option value="o">0</option>
                            <option value="a">A</option>
                            <option value="b">B</option>
                            <option value="ab">AB</option>
                            <option value="n/a">N/A</option>
                        </select>
                        &nbsp;&nbsp;
                        Rh
                        <select disabled id="rh" name="rh">
                            <option value="{{foaie.rh}}" hidden="hidden" selected="selected">{{foaie.rh}}</option>
                            <option value="pozitiv">Pozitiv</option>
                            <option value="negativ">Negativ</option>
                            <option value="n/a">N/A</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Este însoțit de:
                    </td>
                    <td>
                        <input disabled type="text" id="insotit" name="insotit" style="width:100%" value="{{foaie.insotit}}" />
                    </td>
                </tr>
            </table>

            <h3>Arsuri - etiologia</h3>
            <div>
                <table width="70%">
                    <tr>
                        <td style="width:30%">Vechimea arsurilor: </td>
                        <td> <input disabled type="text" id="vechimearsuri" name="vechimearsuri" style="width:15%"
                                    value="{{foaie.vechimearsuri}}" /> (ore)</td>
                    </tr>
                </table>
                <div id="updatedtable"></div>
                <input disabled type="button" id="adauga" onclick="adaugaArsura()" value="Adaugă arsură" class="editread"/>&nbsp;&nbsp;<input
                    type="button" id="sterge" onclick="stergeArsura()" value="Șterge ultima arsură" class="editread"/>
                <br /><br />
                <input disabled type="checkbox" {{transformvaluetochecked foaie.caiResp}} id="caiResp" name="caiResp"
                value="{{foaie.caiResp}}">Arsuri de căi respiratorii superioare</input>
        </div><br />
        <table width="100%">
            <tr>
                <td style="width:20%">
                    Diagnostic la externare
                </td>
                <td colspan="3">
                    <input disabled type="text" id="diagexternare" name="diagexternare" style="width:100%"
                           value="{{foaie.diagnosticexternare}}" />
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    Data și ora decesului
                </td>
                <td>
                    <input disabled type="text" id="datadeces" name="datadeces" style="width:100%"
                           value="{{foaie.datadeces}}" />
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    Diagnostic în caz de deces:
                </td>
                <td></td>

            </tr>
            <tr>
                <td>a) Cauza directă (imediată)</td>
                <td>
                    <input disabled type="text" name="cauzadirectadeces" id="cauzadirectadeces" style="width:100%"
                           value="{{foaie.cauzadirectadeces}}" />
                </td>
            </tr>
            <tr>
                <td>b) Cauza antecedentă</td>
                <td>
                    <input disabled type="text" name="cauzaantecedentadeces" id="cauzaantecedentadeces" style="width:100%"
                           value="{{foaie.cauzaantecedentadeces}}" />
                </td>
            </tr>
            <tr>
                <td>Stări morbide inițiale:</td>
                <td>
                    <input disabled type="text" id="starimorbideinitiale" name="starimorbideinitiale" style="width:100%"
                           value="{{foaie.starimorbideinitiale}}" />
                </td>
            </tr>
            <tr>
                <td>Alte stări morbide importante</td>
                <td>
                    <input disabled type="text" id="starimorbideimportante" name="starimorbideimportante" style="width:100%"
                           value="{{foaie.starimorbideimportante}}" />
                </td>
            </tr>
        </table>
    </div>

    <div id="anamneza" class="tabcontent">
        <h3>Anamneza</h3>

        Locul producerii accidentului: <input disabled type="text" style="width:50%" id="locaccident" name="locaccident"
                                              value="{{foaie.anamneza.loc}}" /><br /><br />
        <input  type="checkbox" disabled id="prezentaparinti" name="prezentaparinti"
               value="{{foaie.anamneza.prezentaparinti}}" {{transformvaluetochecked foaie.anamneza.prezentaparinti}}>A
        fost în prezența părinților</input><br /><br />
    Descrierea accidentului: <input disabled style="width:100%" type="text" id="descriere" name="descriere"
                                    value="{{foaie.anamneza.descriere}}" /><br /><br />

    <h3>Primul ajutor</h3>

    Locul <input disabled type="text" style="width:100%" id="locajutor" name="locajutor"
                 value="{{foaie.anamneza.locprimajutor}}" /><br /><br />
    Tratamentul <input disabled type="text" style="width:100%" id="tratamentajutor" name="tratamentajutor"
                       value="{{foaie.anamneza.tratamentprimajutor}}" /><br />
    <br />
    Alte unități intermediare<br />
    <input disabled type="text" style="width:100%" id="unitatiintermediare" name="unitatiintermediare"
           value="{{foaie.anamneza.unitatiintermediare}}" />
    <br /><br />
    Tratament primit anterior<br />
    <input disabled type="text" style="width:100%" id="tratamentanterior" name="tratamentanterior"
           value="{{foaie.anamneza.tratamentanterior}}" />
    <br /><br />
    Mijloc de transport la spital <input disabled type="text" id="transport" style="width:100%" name="transport"
                                         value="{{foaie.anamneza.transport}}" /><br /><br />
    Tratamentul primit în timpul transportului: <input disabled type="text" id="tratasport" style="width:100%"
                                                       name="tratasport" value="{{foaie.anamneza.tratasport}}" /><br /><br />
    Starea pacientului în momentul sosirii la spital/UPU: <input disabled type="text" style="width:100%"
                                                                 id="starepacient" name="starepacient" value="{{foaie.anamneza.stare}}" /><br /><br />
    Timpul trecut de la producerea accidentului: <input disabled type="text" style="width:100%" id="timp" name="timp"
                                                        value="{{foaie.anamneza.timp}}" /><br /><br />
</div>

<div id="tratament" class="tabcontent">
<h3>Tratament</h3>
<h4>a) Sistemic</h4>
<h5>Fișe de terapie</h5>
{{#each foaie.fiseterapie}}
<a  href="/fisa_terapie?idfoaie={{this.idFoaie}}&amp;idfisa={{this.idFisa}}"
   style="color:red; text-align:left " target="_blank">{{this.data}}</a><br />&nbsp;&nbsp;
{{/each}}<br />
<input disabled style="font-size:10px;height:17px" type="button" class="editread" id="adaugafisaterapie" onclick="adaugaFisaTerapie()"
       value="Adaugă fișă terapie" /><br /><br />
<table>
    <tr>
        <td>Cantitatea de lichide pe 24 de ore </td>
        <td><input disabled type="text" id="cantitatelichide" style="width:100%" name="cantitatelichide"
                   value="{{foaie.anamneza.cantitatelichide}}" /></td>
    </tr>
    <tr>
        <td></td>
        <td>Formule pentru 0-6 ani: Galveston</td>
    </tr>
    <tr>
        <td></td>
        <td>Formule pentru 7-18 ani: Parkland</td>
    </tr>
    <tr>
        <td>Cantitate pentru primele</td>
        <td></td>
    </tr>
    <tr>
        <td style="text-align:right">8 h</td>
        <td><input disabled type="text" id="cantlichide8h" style="width:100%" name="cantlichide8h"
                   value="{{foaie.anamneza.cantlichide8h}}" /></td>
    </tr>
    <tr>
        <td style="text-align:right">16 h</td>
        <td><input disabled type="text" id="cantlichide16h" style="width:100%" name="cantlichide16h"
                   value="{{foaie.anamneza.cantlichide16h}}" /></td>
    </tr>
    <tr>
        <td style="text-align:right">24 h</td>
        <td><input disabled type="text" id="cantlichide24h" style="width:100%" name="cantlichide24h"
                   value="{{foaie.anamneza.cantlichide24h}}" /></td>
    </tr>
</table>
<br />
<h4>b) Local</h4>
<h4>Dinamica plăgilor</h4>
<input disabled type="text" id="dinamicaplagi" style="width:100%" name="dinamicaplagi"
       value="{{foaie.anamneza.dinamicaplagi}}" /><br /><br />
<div><input disabled title="Alegeți un fișier" type="file" class="inputfile" id="adaugafoto0" name="adaugafoto0"
            onchange="pressed(0)" />


    <span>
                    <a name="photo0" id="photo0" target="_blank"
                       href="/uploads/{{transformvaluetophotolink foaie.adaugafoto0}}"
                       style="font-size:10px; font-weight:bold;">{{transformvaluetophoto foaie.adaugafoto0}}</a>
                    <a disabled class="delimg" href="javascript:void(0)"
                       style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto0}}"
                       onclick="document.getElementById('photo0').innerHTML=''; document.getElementById('markedDel0').value=1; document.getElementById('sterge0').style.visibility='hidden'">

                        <img  name="sterge0" id="sterge0" src="/img/delete.png" width="15"
                             style="cursor:pointer" /></a></span>
    <input type="hidden" id="markedDel0" name="markedDel0" value="0" />
    <label for="adaugafoto0" style="font-size:10px" id="fileLabel0">
        <img name="photo0" id="photo0" src="/img/upload.png" width="20" height="15"
             style="cursor:pointer" />
        Adaugă fotografie/fișier&nbsp;</label>
</div>


<!--
<h4>Analize</h4>

{{#each foaie.buletinebio}}
<a href="/buletin_analize_biochimie?pacient={{foaie.detaliipacient.nume}}&amp;data={{this.data}}" style="color:red" target="_blank">Biochimie {{this.data}}</a>&nbsp;&nbsp;<input style="font-size:10px;height:17px" type="button" id="adaugaanBio" onclick="adaugaanBio()" value="Adaugă analiză biochimie"/> <br/>
{{/each}}
{{#each foaie.buletinecoagulare}}
<a href="/buletin_analize_coagulare?pacient={{foaie.detaliipacient.nume}}&amp;data={{this.data}}" style="color:red" target="_blank">Coagulare {{this.data}}</a>&nbsp;&nbsp;<input style="font-size:10px;height:17px" type="button" id="adaugaanCo" onclick="adaugaanCo()" value="Adaugă analiză coagulare"/> <br/>
{{/each}}
{{#each foaie.buletinehemo}}
<a href="/buletin_analize_hemato?pacient={{foaie.detaliipacient.nume}}&amp;data={{this.data}}" style="color:red"  target="_blank">Sânge {{this.data}}</a>&nbsp;&nbsp;<input style="font-size:10px;height:17px" type="button" id="adaugaanHema" onclick="adaugaanHema()" value="Adaugă analiză hematologie"/> <br/>
{{/each}}
-->
<h4></h4>
<h4><a style="color:black" target="_blank"
       href="/foaie_temperatura?foaie={{foaie.detaliipacient.idfoaie}}">Foaie temperatura</a></h4>
</div>
<div id="epetapa" class="tabcontent">
<h3>Epicriza de etapă</h3>
{{#each foaie.epicrizedeetapa}}
<a href="/epicriza_etapa?idepicriza={{this.idFisa}}&amp;idfoaie={{this.idFoaie}}&amp;idpacient={{this.idPacient}}" style="color:red"
   target="_self">{{this.data}}</a>&nbsp;&nbsp;
<br />
{{/each}}<br />
<input disabled type="button" class="editread" id="adaugaepicriza" onclick="adaugaEpicriza()" value="Adaugă epicriză" />
</div>
<div id="epfinala" class="tabcontent">
<h3>Epicriza finală</h3>
<textarea disabled id="epicrizafinala" name="epicrizafinala" rows="4" cols="50">
      {{foaie.epicrizafinala}}
    </textarea>
</div>
<div id="recom" class="tabcontent">
<h3>Recomandări</h3>
Medicație <input disabled type="text" id="medicatie" style="width:100%" name="medicatie"
                 value="{{foaie.medicatie}}" />
Kinetoterapie <input disabled type="text" id="kineto" style="width:100%" name="kineto" value="{{foaie.kineto}}" />
Alte comentarii
<input disabled type="text" id="recomments" style="width:100%" name="recomments" value="{{foaie.comments}}" />
</div>
<div id="urm" class="tabcontent">
<h3>Urmărire</h3>
<p>Cura cicatricilor</p>
<textarea disabled id="cura" name="cura" rows="4" cols="50">
      {{foaie.cura}}
    </textarea>
<br /> <br />
<table width="100%">
    <tr>
        <td style="font-weight:bold;width:5%">Luna</td>
        <td style="font-weight:bold; width:28%">Descriere</td>
        <td style="font-weight:bold; width:28%">Analize laborator</td>
        <td style="font-weight:bold;">Rx</td>
        <td style="font-weight:bold; width:4%">Spital</td>
        <td style="font-weight:bold; width:4%">Online</td>
    </tr>
    <tr>
        <td>1</td>
        <td><input disabled type="text" id="descriere1" style="width:98%" name="descriere1"
                   value="{{foaie.descriere1}}" /></td>
        <td><input disabled type="text" id="analize1" style="width:98%" name="analize1" value="{{foaie.analize1}}" />
        </td>

        <td class="fisier-list">
                        <span>
                            <a disabled name="photo1" id="photo1" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto1}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto1}}</a>
                            <a disabled href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto1}}"
                               onclick="document.getElementById('photo1').innerHTML=''; document.getElementById('markedDel1').value=1; document.getElementById('sterge1').style.visibility='hidden'">
                                <img class="delimg" name="sterge1" id="sterge1" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel1" name="markedDel1" value="0" />
            <div class="alege"><input disabled title="Alegeți un fișier" type="file" class="inputfile" id="adaugafoto1"
                                      name="adaugafoto1" onchange="pressed(1)" /><label for="adaugafoto1"
                                                                                        style="font-size:10px" id="fileLabel1"><img src="/img/upload.png" width="20" height="15"
                                                                                                                                    style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label></div>
        </td>

        <td><input disabled type="checkbox" id="spital1" name="spital1" {{transformvaluetochecked foaie.spital1}}
            value="{{foaie.spital1}}" onchange="checkboxPressed(1,1)" /></td>
        <td><input disabled type="checkbox" id="online1" name="online1" value="{{foaie.online1}}"
            {{transformvaluetochecked foaie.online1}} onchange="checkboxPressed(2,1)" /></td>
    </tr>
    <tr>
        <td>2</td>
        <td><input type="text" disabled id="descriere2" style="width:98%" name="descriere2"
                   value="{{foaie.descriere2}}" /></td>
        <td><input disabled type="text" id="analize2" style="width:98%" name="analize2" value="{{foaie.analize2}}" />
        </td>
        <td class="fisier-list">
                        <span>
                            <a name="photo2" id="photo2" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto2}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto2}}</a>
                            <a href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto2}}"
                               onclick="document.getElementById('photo2').innerHTML=''; document.getElementById('markedDel2').value=1; document.getElementById('sterge2').style.visibility='hidden'">
                                <img class="delimg" name="sterge2" id="sterge2" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel2" name="markedDel2" value="0" />
            <div><input disabled title="Alegeți un fișier" type="file" class="inputfile" id="adaugafoto2"
                        name="adaugafoto2" onchange="pressed(2)" /><label for="adaugafoto2"
                                                                          style="font-size:10px" id="fileLabel2"><img src="/img/upload.png" width="20" height="15"
                                                                                                                      style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label></div>
        </td>
        <td><input disabled type="checkbox" id="spital2" name="spital2" {{transformvaluetochecked foaie.spital2}}
            value="{{foaie.spital2}}" onchange="checkboxPressed(1,2)" /></td>
        <td><input disabled type="checkbox" id="online2" name="online2" value="{{foaie.online2}}"
            {{transformvaluetochecked foaie.online2}} onchange="checkboxPressed(2,2)" /></td>
    </tr>
    <tr>
        <td>3</td>
        <td><input disabled type="text" id="descriere3" style="width:98%" name="descriere3"
                   value="{{foaie.descriere3}}" /></td>
        <td><input disabled type="text" id="analize3" style="width:98%" name="analize3" value="{{foaie.analize3}}" />
        </td>
        <td class="fisier-list">
                        <span>
                            <a name="photo3" id="photo3" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto3}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto3}}</a>
                            <a disabled href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto3}}"
                               onclick="document.getElementById('photo3').innerHTML=''; document.getElementById('markedDel3').value=1; document.getElementById('sterge3').style.visibility='hidden'">
                                <img class="delimg" name="sterge3" id="sterge3" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel3" name="markedDel3" value="0" />
            <input disabled type="file" class="inputfile" title="Alegeți un fișier" id="adaugafoto3"
                   name="adaugafoto3" onchange="pressed(3)" /><label for="adaugafoto3" id="fileLabel3"
                                                                     style="font-size:10px"><img src="/img/upload.png" width="20" height="15"
                                                                                                 style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label>
        </td>
        <td><input disabled type="checkbox" id="spital3" name="spital3" {{transformvaluetochecked foaie.spital3}}
            value="{{foaie.spital3}}" onchange="checkboxPressed(1,3)" /></td>
        <td><input disabled type="checkbox" id="online3" name="online3" value="{{foaie.online3}}"
            {{transformvaluetochecked foaie.online3}} onchange="checkboxPressed(2,3)" /></td>
    </tr>
    <tr>
        <td>4</td>
        <td><input disabled type="text" id="descriere4" style="width:98%" name="descriere4"
                   value="{{foaie.descriere4}}" /></td>
        <td><input disabled type="text" id="analize4" style="width:98%" name="analize4" value="{{foaie.analize4}}" />
        </td>
        <td class="fisier-list">

                        <span>
                            <a name="photo4" id="photo4" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto4}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto4}}</a>
                            <a href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto4}}"
                               onclick="document.getElementById('photo4').innerHTML=''; document.getElementById('markedDel4').value=1; document.getElementById('sterge4').style.visibility='hidden'">
                                <img class="delimg" name="sterge4" id="sterge4" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel4" name="markedDel4" value="0" />
            <input disabled type="file" class="inputfile" title="Alegeți un fișier" id="adaugafoto4"
                   name="adaugafoto4" onchange="pressed(4)" /><label for="adaugafoto4" id="fileLabel4"
                                                                     style="font-size:10px"><img src="/img/upload.png" width="20" height="15"
                                                                                                 style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label>
        </td>
        <td><input disabled type="checkbox" id="spital4" name="spital4" {{transformvaluetochecked foaie.spital4}}
            value="{{foaie.spital4}}" onchange="checkboxPressed(1,4)" /></td>
        <td><input disabled type="checkbox" id="online4" name="online4" value="{{foaie.online4}}"
            {{transformvaluetochecked foaie.online4}} onchange="checkboxPressed(2,4)" /></td>
    </tr>
    <tr>
        <td>5</td>
        <td><input disabled type="text" id="descriere5" style="width:98%" name="descriere5"
                   value="{{foaie.descriere5}}" /></td>
        <td><input disabled type="text" id="analize5" style="width:98%" name="analize5" value="{{foaie.analize5}}" />
        </td>
        <td class="fisier-list">
                        <span>
                            <a name="photo5" id="photo5" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto5}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto5}}</a>
                            <a href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto5}}"
                               onclick="document.getElementById('photo5').innerHTML=''; document.getElementById('markedDel5').value=1; document.getElementById('sterge5').style.visibility='hidden'">
                                <img class="delimg" name="sterge5" id="sterge5" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel5" name="markedDel5" value="0" />
            <input disabled type="file" class="inputfile" title="Alegeți un fișier" id="adaugafoto5"
                   name="adaugafoto5" onchange="pressed(5)" /><label for="adaugafoto5" id="fileLabel5"
                                                                     style="font-size:10px"><img src="/img/upload.png" width="20" height="15"
                                                                                                 style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label>
        </td>
        <td><input disabled type="checkbox" id="spital5" name="spital5" {{transformvaluetochecked foaie.spital5}}
            value="{{foaie.spital5}}" onchange="checkboxPressed(1,5)" /></td>
        <td><input disabled type="checkbox" id="online5" name="online5" value="{{foaie.online5}}"
            {{transformvaluetochecked foaie.online5}} onchange="checkboxPressed(2,5)" /></td>
    </tr>
    <tr>
        <td>6-9</td>
        <td><input disabled type="text" id="descriere69" style="width:98%" name="descriere69"
                   value="{{foaie.descriere69}}" /></td>
        <td><input disabled type="text" id="analize69" style="width:98%" name="analize69"
                   value="{{foaie.analize69}}" /></td>
        <td class="fisier-list">
                        <span>
                            <a name="photo69" id="photo69" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto69}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto69}}</a>
                            <a href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto69}}"
                               onclick="document.getElementById('photo69').innerHTML='';document.getElementById('markedDel69').value=1; document.getElementById('sterge69').style.visibility='hidden'">
                                <img class="delimg" name="sterge69" id="sterge69" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel69" name="markedDel69" value="0" />
            <input disabled type="file" class="inputfile" title="Alegeți un fisier" id="adaugafoto69"
                   name="adaugafoto69" onchange="pressed(69)" /><label for="adaugafoto69" id="fileLabel69"
                                                                       style="font-size:10px"><img src="/img/upload.png" width="20" height="15"
                                                                                                   style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label>
        </td>
        <td><input disabled type="checkbox" id="spital69" {{transformvaluetochecked foaie.spital69}} name="spital69"
            value="{{foaie.spital69}}" onchange="checkboxPressed(1,69)" /></td>
        <td><input disabled type="checkbox" id="online69" name="online69" value="{{foaie.online69}}"
            {{transformvaluetochecked foaie.online69}} onchange="checkboxPressed(2,69)" /></td>
    </tr>
    <tr>
        <td>9-12</td>
        <td><input disabled type="text" id="descriere912" style="width:98%" name="descriere912"
                   value="{{foaie.descriere912}}" /></td>
        <td><input disabled type="text" id="analize912" style="width:98%" name="analize912"
                   value="{{foaie.analize912}}" /></td>
        <td class="fisier-list">
                        <span>
                            <a name="photo912" id="photo912" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto912}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto912}}</a>
                            <a href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto912}}"
                               onclick="document.getElementById('photo912').innerHTML='';document.getElementById('markedDel912').value=1; document.getElementById('sterge912').style.visibility='hidden'">
                                <img class="delimg" name="sterge912" id="sterge912" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel912" name="markedDel912" value="0" />
            <input disabled type="file"  class="inputfile" title="Alegeți un fișier" id="adaugafoto912"
                   name="adaugafoto912" onchange="pressed(912)" /><label for="adaugafoto912" id="fileLabel912"
                                                                         style="font-size:10px"><img src="/img/upload.png" width="20" height="15"
                                                                                                     style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label>
        </td>
        <td><input disabled type="checkbox" id="spital912" name="spital912" {{transformvaluetochecked
            foaie.spital912}} value="{{foaie.spital912}}" onchange="checkboxPressed(1,912)" /></td>
        <td><input disabled type="checkbox" id="online912" name="online912" value="{{foaie.online912}}"
            {{transformvaluetochecked foaie.online912}} onchange="checkboxPressed(2,912)" /></td>
    </tr>
    <tr>
        <td>12-18</td>
        <td><input disabled type="text" id="descriere1218" style="width:98%" name="descriere1218"
                   value="{{foaie.descriere1218}}" /></td>
        <td><input disabled type="text" id="analize1218" style="width:98%" name="analize1218"
                   value="{{foaie.analize1218}}" /></td>
        <td class="fisier-list">
                        <span>
                            <a name="photo1218" id="photo1218" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto1218}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto1218}}</a>
                            <a href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto1218}}"
                               onclick="document.getElementById('photo1218').innerHTML=''; document.getElementById('markedDel1218').value=1; document.getElementById('sterge1218').style.visibility='hidden'">
                                <img class="delimg" name="sterge1218" id="sterge1218" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel1218" name="markedDel1218" value="0" />
            <input disabled type="file" class="inputfile" title="Alegeți un fișier" id="adaugafoto1218"
                   name="adaugafoto1218" onchange="pressed(1218)" /><label for="adaugafoto1218"
                                                                           id="fileLabel1218" style="font-size:10px"><img src="/img/upload.png" width="20" height="15"
                                                                                                                          style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label>
        </td>
        <td><input disabled type="checkbox" id="spital1218" name="spital1218" {{transformvaluetochecked
            foaie.spital1218}} value="{{foaie.spital1218}}" onchange="checkboxPressed(1,1218)" /></td>
        <td><input disabled type="checkbox" id="online1218" name="online1218" value="{{foaie.online1218}}"
            {{transformvaluetochecked foaie.online1218}} onchange="checkboxPressed(2,1218)" /></td>
    </tr>
    <tr>
        <td>18-24</td>
        <td><input disabled type="text" id="descriere1824" style="width:98%" name="descriere1824"
                   value="{{foaie.descriere1824}}" /></td>
        <td><input disabled type="text" id="analize1824" style="width:98%" name="analize1824"
                   value="{{foaie.analize1824}}" /></td>
        <td class="fisier-list">
                        <span>
                            <a name="photo1824" id="photo1824" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto1824}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto1824}}</a>
                            <a href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto1824}}"
                               onclick="document.getElementById('photo1824').innerHTML='';document.getElementById('markedDel1824').value=1; document.getElementById('sterge1824').style.visibility='hidden'">
                                <img class="delimg" name="sterge1824" id="sterge1824" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel1824" name="markedDel1824" value="0" />
            <input disabled type="file" class="inputfile" title="Alegeți un fișier" id="adaugafoto1824"
                   name="adaugafoto1824" onchange="pressed(1824)" /><label for="adaugafoto1824"
                                                                           id="fileLabel1824" style="font-size:10px"><img src="/img/upload.png" width="20" height="15"
                                                                                                                          style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label>
        </td>
        <td><input disabled type="checkbox" id="spital1824" name="spital1824" {{transformvaluetochecked
            foaie.spital1824}} value="{{foaie.spital1824}}" onchange="checkboxPressed(1,1824)" /></td>
        <td><input disabled type="checkbox" id="online1824" name="online1824" value="{{foaie.online1824}}"
            {{transformvaluetochecked foaie.online1824}} onchange="checkboxPressed(2,1824)" /></td>
    </tr>
    <tr>
        <td>24-30</td>
        <td><input disabled type="text" id="descriere2430" style="width:98%" name="descriere2430"
                   value="{{foaie.descriere2430}}" /></td>
        <td><input disabled type="text" id="analize2430" style="width:98%" name="analize2430"
                   value="{{foaie.analize2430}}" /></td>
        <td class="fisier-list">
                        <span>
                            <a name="photo2430" id="photo2430" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto2430}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto2430}}</a>
                            <a href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto2430}}"
                               onclick="document.getElementById('photo2430').innerHTML='';document.getElementById('markedDel2430').value=1; document.getElementById('sterge2430').style.visibility='hidden'">
                                <img class="delimg" name="sterge2430" id="sterge2430" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel2430" name="markedDel2430" value="0" />
            <input disabled type="file" class="inputfile" title="Alegeți un fișier" id="adaugafoto2430"
                   name="adaugafoto2430" onchange="pressed(2430)" /><label for="adaugafoto2430"
                                                                           id="fileLabel2430" style="font-size:10px"><img src="/img/upload.png" width="20" height="15"
                                                                                                                          style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label>
        </td>
        <td><input disabled type="checkbox" id="spital2430" name="spital2430" {{transformvaluetochecked
            foaie.spital2430}} value="{{foaie.spital2430}}" onchange="checkboxPressed(1,2430)" /></td>
        <td><input disabled type="checkbox" id="online2430" name="online2430" value="{{foaie.online2430}}"
            {{transformvaluetochecked foaie.online2430}} onchange="checkboxPressed(2,2430)" /></td>
    </tr>
    <tr>
        <td>30-36</td>
        <td><input disabled type="text" id="descriere3036" style="width:98%" name="descriere3036"
                   value="{{foaie.descriere3036}}" /></td>
        <td><input disabled type="text" id="analize3036" style="width:98%" name="analize3036"
                   value="{{foaie.analize3036}}" /></td>
        <td class="fisier-list">
                        <span>
                            <a name="photo3036" id="photo3036" target="_blank"
                               href="/uploads/{{transformvaluetophotolink foaie.adaugafoto3036}}"
                               style="font-size:10px; font-weight:bold;">{{transformvaluetophoto
                                foaie.adaugafoto3036}}</a>
                            <a href="javascript:void(0)"
                               style="visibility:{{transformvaluetostylevisibility foaie.adaugafoto3036}}"
                               onclick="document.getElementById('photo3036').innerHTML=''; document.getElementById('markedDel3036').value=1; document.getElementById('sterge3036').style.visibility='hidden'">
                                <img class="delimg" name="sterge3036" id="sterge3036" src="/img/delete.png" width="15"
                                     style="cursor:pointer" /></a></span>
            <input type="hidden" id="markedDel3036" name="markedDel3036" value="0" />
            <input disabled type="file" class="inputfile" title="Alegeți un fișier" id="adaugafoto3036"
                   name="adaugafoto3036" onchange="pressed(3036)" /><label for="adaugafoto3036"
                                                                           id="fileLabel3036" style="font-size:10px"><img src="/img/upload.png" width="20" height="15"
                                                                                                                          style="cursor:pointer" /><span class="filelabels-text">Adaugă foto/fișier&nbsp;</span></label>
        </td>
        <td><input disabled type="checkbox" id="spital3036" name="spital3036" {{transformvaluetochecked
            foaie.spital3036}} value="{{foaie.spital3036}}" onchange="checkboxPressed(1,3036)" /></td>
        <td><input disabled type="checkbox" id="online3036" name="online3036" value="{{foaie.online3036}}"
            {{transformvaluetochecked foaie.online3036}} onchange="checkboxPressed(2,3036)" /></td>
    </tr>
</table>
</div>
<br/>

<input type="submit" id="salveaza" style="font-size:16px" class="btn btn-reverse" value="Salvare foaie" />
        </form>
<script type="text/x-handlebars-template" id="tableTemplate">
__#each arsVV++
Gradul:
<select disabled id="gradSelect__this.position++" name="gradSelect__this.position++" style="width:100px" >
    <option value="__this.grad++" hidden="hidden" selected="selected">__this.grad++</option>
    <option value="1">1</option>
    <option value="2A">2A</option>
    <option value="2B">2B</option>
    <option value="3">3</option>
    <option value="4">4</option>

</select>&nbsp;&nbsp;
Localizare
<input disabled type="text" name="localizare__this.position++" id="localizare__this.position++" value="__this.localizare++"/>&nbsp;&nbsp;
Procent segment <input disabled type="text" name="procent__this.position++"  id="procent__this.position++" value="__this.procent++"/>&nbsp;%<br/><br/>

__/each++

</script>
<script type="text/x-handlebars-template" id="tableTemplateRecomm">
__#each recomm++
__this.position++. <input type="text" style="width:90%" name="recomm__this.position++" id="recomm__this.position++" value="__this.value++"/> <br/><br/>
__/each++

</script>
<script type="text/x-handlebars-template" id="tableTemplateEvolutie">
<table width="100%">
    __#each evolutii++
    <tr>
        <td style="width:10%;font-weight:bold">Data</td><td> <input disabled type="date" style="width:90%" name="evoldata__this.position++" id="evoldata__this.position++" value="__this.dataEvolutiei++"/></td></tr>
    <tr><td>Evoluție</td><td><input disabled type="text" style="width:90%" name="evol__this.position++" id="evol__this.position++" value="__this.evolutie++"/></td></tr>
    <tr><td>Tratament</td><td><input disabled type="text" style="width:90%" name="trat__this.position++" id="trat__this.position++" value="__this.tratament++"/></td></tr>
    <tr><td>&nbsp;</td></tr>
    __/each++
</table>
</script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/handlebars.min.js"></script>
<script src="/js/bootstrap-filestyle.min.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/general.js"></script>

<script>
    changeDays("zi","luna","an");
    changeDays("ziext","lunaext","anext");
    const urlParams = new URLSearchParams(window.location.search);
    var idParam = urlParams.get('foaie');
    if (idParam!=null){
      document.getElementById("editButton").style.visibility="visible";
      document.getElementById("salveaza").style.visibility="hidden";
      document.getElementById("cancelButton").style.visibility="hidden";
      document.getElementById("cancelButton").style.display="none";
      $(".editread").attr("style", "visibility: hidden");
      $(".delimg").attr("style", "visibility: hidden");
      $(".requiredclass").attr("style", "visibility: hidden");
      openTabWithoutEvent('evolutie');
    }
    else {
    $('input, select, textarea').each(function () {
       $(this).prop('disabled', false);
    });
      document.getElementById("editButton").style.visibility="hidden";
      document.getElementById("cancelButton").style.visibility="visible";
      document.getElementById("cancelButton").style.display="inline";
      document.getElementById("salveaza").style.visibility="visible";
      $(".requiredclass").attr("style", "visibility: visible; color:red");
      $(".editread").attr("style", "visibility: visible");
      $(".delimg").attr("style", "visibility: visible");
      openTabWithoutEvent('diagnostic');
    }
function edit(){
    $('input, select, textarea').each(function () {
       $(this).prop('disabled', false);
    });
    $(".requiredclass").attr("style", "visibility: visible; color:red");
    document.getElementById("cancelButton").style.visibility="visible";
    document.getElementById("cancelButton").style.display="inline";
    document.getElementById("editButton").style.visibility="hidden";
    document.getElementById("salveaza").style.visibility="visible";
    $(".editread").attr("style", "visibility: visible");
    $(".delimg").attr("style", "visibility: visible");
}
function cancel(){
    window.open(location.href,"_self");
}
        function adaugaArsura() {
            var templateText = $("#tableTemplate").html();

            templateText = $("#tableTemplate").html().replaceAll("_", "{").replaceAll("+", "}");

            var tableTemplate = Handlebars.compile(templateText);
            var lengthArsuri = arsuri.length;
            arsuri = [];

            for (var index = 0; index < lengthArsuri; index++) {
                var newArsura = {};
                newArsura.position = index;
                newArsura.grad = document.getElementById("gradSelect" + index).value;
                newArsura.localizare = document.getElementById("localizare" + index).value;
                newArsura.procent = document.getElementById("procent" + index).value;
                arsuri.push(newArsura);
            }
            var newArsura = {};
            newArsura.position = arsuri.length;
            newArsura.grad = null;
            newArsura.localizare = null;
            newArsura.procent = null;
            arsuri.push(newArsura);

            $("#updatedtable").html(tableTemplate({ arsVV: arsuri }));
            edit();
        }
        function stergeArsura() {
            var templateText = $("#tableTemplate").html();

            templateText = $("#tableTemplate").html().replaceAll("_", "{").replaceAll("+", "}");

            var tableTemplate = Handlebars.compile(templateText);
            arsuri.pop();

            $("#updatedtable").html(tableTemplate({ arsVV: arsuri }));
            edit();
        }
        function adaugareEvolutie() {
            var templateText = $("#tableTemplateEvolutie").html();

            templateText = $("#tableTemplateEvolutie").html().replaceAll("_", "{").replaceAll("+", "}");

            var tableTemplate = Handlebars.compile(templateText);
            var lengthEvolutii;
            if (evolutiiList!=undefined)
             lengthEvolutii = evolutiiList.length;
            else
             lengthEvolutii = 0;


            var newEvolutiiList = [];
            var now = new Date();
            for (var index = 0; index < lengthEvolutii; index++) {
                var newEvolutie = {};
                newEvolutie.position = index+1;

                newEvolutie.dataEvolutiei = document.getElementById("evoldata" + index).value;
                if (index==0) {
                    var oldDate = new Date(document.getElementById("evoldata" + index).value);

                    var followingDay = new Date(oldDate.getTime() + 86400000); // + 1 day in ms

                    now.setDate(followingDay.getDate());
                    now.setMonth(followingDay.getMonth());
                }
                newEvolutie.evolutie = document.getElementById("evol" + index).value;
                newEvolutie.tratament = document.getElementById("trat" + index).value;
                newEvolutiiList.push(newEvolutie);
            }
            evolutiiList = [];
            var dayVar = now.getDate()<10 ? "0" + now.getDate() : now.getDate();
            let todayVar = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" +  dayVar ;

            evolutiiList.push({ position: 0, dataEvolutiei: todayVar });
            for (var i = 0; i <newEvolutiiList.length; i++) {
                evolutiiList.push(newEvolutiiList[i]);
            }

            $("#updatedtableEvolutie").html(tableTemplate({ evolutii: evolutiiList }));
            edit();
        }
        function stergereevolutie() {
            var templateText = $("#tableTemplateEvolutie").html();

            templateText = $("#tableTemplateEvolutie").html().replaceAll("_", "{").replaceAll("+", "}");

            var tableTemplate = Handlebars.compile(templateText);
            evolutiiList.shift();
            for (var index = 0; index < evolutiiList.length; index++) {
                evolutiiList[index].position = index;
            }
            $("#updatedtableEvolutie").html(tableTemplate({ evolutii: evolutiiList }));
            edit();
        }


        function checkboxPressed(position, checkboxIndex) {
            var spital = document.getElementById("spital" + checkboxIndex).checked;
            var online = document.getElementById("online" + checkboxIndex).checked;
            if (position == 1 && spital == online && spital == '1') {
                document.getElementById("online" + checkboxIndex).checked = 0;
            }
            else if (position == 2 && spital == online && online == '1') {
                document.getElementById("spital" + checkboxIndex).checked = 0;
            }

        }
        function save() {
            // Run the test and do something with the results...
            fetch("/foaie_observatie", {
                method: "POST"
            }).then(res => {
                alert("Salvat!");
                location.reload();
            });
        }
        window.pressed = function (imageIndex) {
            var a = document.getElementById('adaugafoto' + imageIndex);
            if (a.value == "") {
                document.getElementById("fileLabel" + imageIndex).innerHTML = "Adaugă foto";
            }
            else {
                var theSplit = a.value.split('\\');
                document.getElementById("fileLabel" + imageIndex).innerHTML = "<img src=\"/img/upload.png\" width=\"20\" height=\"15\" style=\"cursor:pointer\"/>" + theSplit[theSplit.length - 1];
            }
        };
        structura = JSON.parse(document.getElementById("structura").value);
        function changeSalon() {
                for (var i=0;i<structura.length;i++) {
                    if (structura[i].nume==document.getElementById("sectia").value) {
                        while (document.getElementById("salon").options.length > 1) {
                             document.getElementById("salon").remove(1);
                        }
                        var saloane = structura[i].saloane.split(',');
                        for (var i1 = 0; saloane.length>i1; i1++) {
                              document.getElementById("salon").appendChild(addOption(saloane[i1])); ///aaaa
                           };
                    }
                }
                document.getElementById("salon").remove(document.getElementById("salon").options[document.getElementById("salon").selectedIndex]);
        }
        function adaugaEpicriza() {
            if (document.getElementById("idfoaie").innerHTML == "")
                alert("Salvati fisa prima data inainte de folosirea butonului");
            else
                window.open("/epicriza_etapa?idfoaie=" + document.getElementById("idfoaie").innerHTML, '_blank').focus();
        }
        function adaugaFisaTerapie() {
            if (document.getElementById("idfoaie").innerHTML == "")
                alert("Salvati fisa prima data inainte de folosirea butonului");
            else
                window.open("/fisa_terapie?idfoaie=" + document.getElementById("idfoaie").innerHTML, '_blank').focus();
        }
        function adaugaanBio() {
            if (document.getElementById("idfoaie").innerHTML == "")
                alert("Salvati fisa prima data inainte de folosirea butonului");
            else
                window.open("/buletin_analize_biochimie?idfoaie=" + document.getElementById("idfoaie").innerHTML, '_blank').focus();
        }
        function adaugaanCo() {
            if (document.getElementById("idfoaie").innerHTML == "")
                alert("Salvati fisa prima data inainte de folosirea butonului");
            else
                window.open("/buletin_analize_coagulare?idfoaie=" + document.getElementById("idfoaie").innerHTML, '_blank').focus();
        }
        function adaugaanHema() {
            if (document.getElementById("idfoaie").innerHTML == "")
                alert("Salvati fisa prima data inainte de folosirea butonului");
            else
                window.open("/buletin_analize_hemato?idfoaie=" + document.getElementById("idfoaie").innerHTML, '_blank').focus();
        }
        window.document.title = "Foaie de observație id " + "{{foaie.detaliipacient.idfoaie}}" + " " + "{{foaie.detaliipacient.nume}}";
        var templateText = $("#tableTemplate").html();

        templateText = $("#tableTemplate").html().replaceAll("_", "{").replaceAll("+", "}");
        var tableTemplate = Handlebars.compile(templateText);
        var arsuri = JSON.parse('{{{arsuriJsonVar}}}');

        var evolutiiList = JSON.parse('{{{evolutiiJsonList}}}');
        $("#updatedtable").html(tableTemplate({ arsVV: arsuri }));

        var templateTextRecomm = $("#tableTemplateRecomm").html();

        templateTextRecomm = $("#tableTemplateRecomm").html().replaceAll("_", "{").replaceAll("+", "}");

        var tableTemplateRecomm = Handlebars.compile(templateTextRecomm);

        var templateTextEvolutie = $("#tableTemplateEvolutie").html();

        templateTextEvolutie = $("#tableTemplateEvolutie").html().replaceAll("_", "{").replaceAll("+", "}");

        var tableTemplateEvolutie = Handlebars.compile(templateTextEvolutie);

        $("#updatedtableEvolutie").html(tableTemplateEvolutie({ evolutii: evolutiiList }));
        function openTabWithoutEvent(tabName) {
             var i, tabcontent, tablinks;
             tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
        }
        function openTab(evt, tabName) {
            // Declare all variables

            evt.preventDefault();
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        changeSalon();
    </script>
</section>

