<section id="circles" class="container">
    <h1 class="foile-titlu">Foile de observație</h1><input type="hidden" value="{{session.isAdmin}}" name="sessionIsAdmin" id="sessionIsAdmin"/><br /><br />
    {{#each this}}
    {{#ifNotNull medic}}
    <div class="foi-observatie">
        <div><p class="nume-medic"><a href="/foaie_observatie?pacient={{idpacient}}&foaie={{idfoaie_observatie}}" style="color:red">Medic:
            {{medic}}</a></p>
            &nbsp;&nbsp;&nbsp;&nbsp;Pacient: {{prenume}} {{numefamilie}}<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Secția: {{sectia}}<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Data creării: {{convertdate timeCol}}<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Data internării: {{zi}} {{luna}} {{an}}
            <br />
        </div>
        <button class="deleteFoaie-btn btn btn-reverse" onclick="deleteFunct({{idfoaie_observatie}});"
                id="deleteFunct{{idfoaie_observatie}}">Șterge foaie</button>

    </div>
    {{/ifNotNull}}
    {{else}}
    <p>Nu am găsit nicio foaie de observație în baza de date.</p>
    {{/each}}


    </input>
</section>
<script src="/js/jquery-3.6.0.min.js"></script>
<script>
if (document.getElementById("sessionIsAdmin").value.trim().localeCompare("")==0)
    {
    $('[id^=delete]').hide();
    }
const deleteFunct=function (someId){
    var answer = window.confirm("Sunteți sigur(ă) că vreți să foaia de observație cu id " + someId + "?");
    if (answer) {
        window.open('/foaie_observatie/delete?id='+someId,'_self');
    }
    else {
        //nu se sterge
    }
}
</script>