<section id="pacients" class="container">
    <input type="button" onClick=" window.open('/pacients/addpacient','_self');" value="Adaugă pacient" class="btn btn-reverse"/>

    <h1>Toți pacienții</h1>
    {{#each this}}
    {{#ifNotNull numefamilie}}

    <div class="pacients">
        <div>
            <a href="/pacients/addpacient?id={{idpacient}}" style="color:red"><h3>Nume: {{prenume}} {{numefamilie}}</h3></a>
            <p>Sex: {{sex}}</p>
            <p>Cetățenie: {{cetatenie}}</p>
        </div>
        <button class="deleteFoaie-btn btn btn-reverse" id="{{idpacient}}">Șterge pacient</button>
    </div>
    {{/ifNotNull}}
    {{else}}
    <p>Niciun pacient în baza de date</p>
    {{/each}}
    <div style="width: 265px; margin: auto;">
        {{#if showPrev}}
        <a href="/pacients/?page={{pagedecrement page}}"><button class="btn" style="width:130px; float: left;" id="prevpage"  >Pagina anterioară</button></a>
        {{/if}}

        {{#if showNext}}
        <a href="/pacients/?page={{pageincrement page }}"><button class="btn" style="width:130px; float: right;" id="nextpage"  >Pagina următoare</button></a>
        {{/if}}
    </div>
</section>