<section id="pacients" class="container">
    <input type="button" onClick=" window.open('/pacients/addpacient','_self');" value="Adaugă pacient" class="btn btn-reverse" style="background: var(--primary-color);border: 1px solid var(--primary-color);"/>

    <h1>Toți pacienții</h1>
    {{#each this}}
    {{#ifNotNull numefamilie}}

    <div class="pacients">
        <a href="/pacients/addpacient?id={{idpacient}}" style="color:red"><h3>Nume: {{prenume}} {{numefamilie}}</h3></a>
        <p>Sex: {{sex}}</p>
        <p>Cetățenie: {{cetatenie}}</p>
    </div>
    {{/ifNotNull}}
    {{else}}
    <p>Niciun pacient în baza de date</p>
    {{/each}}
</section>