<section id="resetpassword" class="container">
    <div class="form-wrap">
      <h1>Change password</h1>
      {{#if errortext}}
        <div style="color:red" class="error">
          <p>{{errortext}}</p>
        </div>
        {{/if}}
      <form action="/users/resetpassword" method="POST">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="text" readonly="true" name="email" id="email" class="input-box" placeholder="email"
            maxlength="100" value={{query.email}}>
        </div>
        <div class="input-group">
          <label for="currentpassword">Current password</label>
          <input type="password" name="currentpassword" id="currentpassword" class="input-box" placeholder="current password"
          maxlength="100" value={{password}}>
        </div>
        <div class="input-group">
          <label for="email">New password</label>
           <input type="password" name="newpassword" id="newpassword" class="input-box" placeholder="new password"
          maxlength="100" value={{password}}>
        </div>
       <div class="input-group">
          <label for="email">Confirm password</label>
           <input type="password" name="confirmpassword" id="confirmpassword" class="input-box" placeholder="confirm password"
          maxlength="100" value={{password}}>
        </div>
        <input type="submit" value="Change Password" class="btn btn-reverse">
      </form>
    </div>
  </section>