<section id="users" class="container">
    <input type="button" onClick=" window.open('/users/adduser','_self');" value="Adaugă utilizator" class="btn btn-reverse"/>
    <h1>Toți utilizatorii</h1>
    {{#each this}}
    {{#ifNotNull email}}
    <div class="users">
        <div>
            <a href="/users/adduser?iduser={{idutilizator}}" style="color:red"><h3>Nume: {{nume}}</h3></a>
            <p>E-mail: {{email}}</p>
            <p>Roluri: {{rol}}</p>
        </div>
        <button class="deleteFoaie-btn btn btn-reverse" onclick="window.open('/users/delete?id={{idutilizator}}','_self');" id="{{idutilizator}}">Șterge utilizator</button>
    </div>
    {{/ifNotNull}}
    {{else}}
    <p>Niciun utilizator în baza de date</p>
    {{/each}}
    <div style="width: 265px; margin: auto;">
        {{#if showPrev}}
        <a href="/users/?page={{pagedecrement page}}"><button class="btn" style="width:130px; float: left;" id="prevpage"  >Pagina anterioară</button></a>
        {{/if}}

        {{#if showNext}}
        <a href="/users/?page={{pageincrement page }}"><button class="btn" style="width:130px; float: right;" id="nextpage"  >Pagina următoare</button></a>
        {{/if}}
    </div>
</section>