<section id="addVote" class="container">
    <div class="form-wrap">
        <h1>Add a vote</h1>
        {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
        {{/each}}
        <form action="/votes/addVote" method="POST">
            <div class="input-group">
                <label for="memberId"> member id</label>
                <input type="text" name="theme" id="theme" class="input-box" placeholder="default 1" maxlength="100"
                    value={{memberId}}>
            </div>
            <div class="input-group">
                <label for="numberofpeople">numberofpeople </label>
                <input type="text" name="numberofpeople" id="numberofpeople" class="input-box" placeholder="0-10000"
                    maxlength="100" value={{numberofpeople}}>
            </div>
            <div class="input-group">
                <label for="date"> start date:</label>
                <input type="date" id="date" name="start" value="2020-07-22" min="2020-01-01"
                    max="2020-12-31">{{date}}</input>
                <label for="endDate"> end date</label>
                <input type="date" id="endDate" name="end" value="2020-07-22" min="2020-01-01"
                    max="2020-12-31">{{endDate}}</input>
                <div class="map" id="mapid">
                    <script src="/mapScript.js"></script>
                    <script>

                    </script>
                    <div id="calendar">
                        <script>
                            var calendar = new Calendar('#calendar', {

                                // 'day', 'week', 'month'
                                defaultView: 'week',

                                // shows the milestone and task in weekly, daily view
                                taskView: true,

                                // shows the all day and time grid in weekly, daily view
                                scheduleView: true,

                                // template options
                                template: {
                                    milestone: function (schedule) {
                                        return '<span style="color:red;"><i class="fa fa-flag"></i> ' + schedule.title + '</span>';
                                    },
                                    milestoneTitle: function () {
                                        return 'Milestone';
                                    },
                                    task: function (schedule) {
                                        return '&nbsp;&nbsp;#' + schedule.title;
                                    },
                                    taskTitle: function () {
                                        return '<label><input type="checkbox" />Task</label>';
                                    },
                                    allday: function (schedule) {
                                        return schedule.title + ' <i class="fa fa-refresh"></i>';
                                    },
                                    alldayTitle: function () {
                                        return 'All Day';
                                    },
                                    time: function (schedule) {
                                        return schedule.title + ' <i class="fa fa-refresh"></i>' + schedule.start;
                                    }
                                },
                                week: {
                                    daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                                    startDayOfWeek: 0,
                                    narrowWeekend: true
                                },
                                month: {
                                    daynames: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                                    startDayOfWeek: 0,
                                    narrowWeekend: true
                                },

                                // list of Calendars that can be used to add new schedule
                                calendars: [],

                                // whether use default creation popup or not
                                useCreationPopup: false,

                                // whether use default detail popup or not
                                useDetailPopup: false

                            });
                        </script>
                    </div>

                    {{!-- <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" integrity="" crossorigin=""
                        type="text/css" />
                    <script src="/node_modules/leaflet/src/Leaflet.js"
                        integrity="sha256-m6OzICu0uhFGzWwrjB0T95Bj04mVBM/3FaUl6lUcEqA=" crossorigin=""></script> --}}
                    {{!-- <script src="/public/mapScript.js"></script> --}}
                </div>

                {{!-- 
                <textarea name="when" id="when" class="input-box" placeholder="pick date"
                    rows="10">{{description}}</textarea> --}}
            </div>
            {{!-- <div class="input-group">
          <label for="budget">Contact Email</label>
          <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email" value={{contact_email}}>
        </div> --}}
            <input type="submit" value="Add Gig" class="btn btn-reverse">
        </form>
    </div>
</section>